
@{
    Layout = null;
}
<div class="row">
    <div class="container">
        <div class="col-lg-12 p-0 m-0">
            <div class="jumbotron-fluid ts-grid-box mb-3">
                <h2 class="text-dark text mb-5 mt-2">

                    DOMESTIC GOODS DOCUMENT

                </h2>
                <hr style=" background-color:black; height:0.5px; " />
                <p>
                    As it is known,
                    Article 51 of the
                    Law on the Amendment of Certain Laws and Decree Laws published in the
                    Official Gazette dated February 19, 2014, and numbered 28918, and article
                    63 of the Public Procurement Law numbered 4734 have been amended, and the
                    definition of domestic goods, application procedures and principles have been
                    changed by Bilim Sanayi ve Ticaret A.Ş. It has been decreed that it will be
                    determined by the Ministry of Technology by taking the opinions of the relevant
                    institutions and organizations.
                </p>

                <p>
                    The implementation principles of the certificate of the domestic goods,
                    which were finalized with the related Ministry's letter dated 31.10.2014,
                    were approved by the TOBB Board of Directors on 05.11.2014 and entered into force.
                    According to Article 63 of the Public Procurement Law No. 4734, the domestic
                    product definition and the conditions for obtaining a certificate have been
                    redefined in the 9th and 10th articles of the new application principles of
                    the certificate of the domestic goods, which provides a price advantage of
                    up to 15% to the companies producing domestic goods in public tenders.
                </p>

                <p>
                    <strong>
                        (1)- Conditions sought for industrial products to be accepted as domestic goods;
                    </strong>
                </p>

                <p>
                    <strong>
                        a)
                    </strong>
                    Produced by industrial enterprises with an Industrial Registry Certificate (including the name of the product in the document)
                </p>

                <p>
                    <strong>
                        b)
                    </strong>
                    The products produced or obtained shall be entirely in Turkey, the important stages of the
                    production process and the last
                    essential labor and action deemed
                    economically necessary to have been made in Turkey.
                </p>

                <p>
                    <strong>
                        c)
                    </strong>
                    The domestic contribution rate of the product must be at least 51%.
                </p>

                <p>
                    <strong>
                        (2)- In order for food and agricultural products to be accepted as domestic goods;
                    </strong>

                </p>

                <p>
                    <strong>
                        a)
                    </strong>
                    Produced by operators holding a Business Registration or Approval Certificate.
                </p>

                <p>
                    <strong>
                        b)
                    </strong>
                   The products produced/grown or obtained entirely in Turkey,
                   the important stages of the production process and the last 
                   essential labor and action deemed economically necessary to have been made in Turkey.
                </p>


                <p>
                    <strong>
                        c)
                    </strong>
                    Produced by companies that have the Farmer Registration 
                    System Certificate or the relevant Registration Certificate of
                    the Ministry of Food, Agriculture and Livestock (Greenhouse
                    Registration System and similar) for agricultural products.
                </p>


                <p>
                    The list of documents required for the application of the Domestic Goods Certificate is 
                    presented in the appendix below, and the certificate of the domestic goods can be issued
                    within 10 days as per the notification to the member companies that have made their
                    application to our chamber.


                </p>

                <p>
                    <u>
                        For detailed information;
                    </u>
                </p>


                <p>
                    <strong>Zahide TOPRAK</strong> <br />


                    <strong> Industrial Services Personnel</strong> <br />
                    ADANA CHAMBER OF INDUSTRY<br />
                    Phone : (0 322) 436 63 63 - 112<br />
                    Fax : (0 322) 436 16 36<br />
                    E-Mail : kobi@adaso.org.tr <br />
                    Web : www.adaso.org.tr <br />
                    Turhan Cemal Beriker Blv. No: 156 Seyhan - Adana / TURKEY <br />

                </p>


                <p>
                    <strong> <u> appendices </u></strong>
                </p>

               <p>
                    <a href="#">Annex-1: Petition for Domestic Goods Certificate application (Annex-1)</a>
               </p>
               <p>
                    <a href="#"> Annex-2: Commitment for Domestic Goods Certificate application (Annex-2)</a>
               </p>
               <p>
                    <a href="#">Annex-3: Calculation Table of Domestic Contribution Rate (Annex-3)</a>
               </p>
               
               <p>
                    <a href="#">Annex-4: Domestic Goods Certificate TOBB approval fee account information (165 TL must be deposited for each product)</a>
               </p>

            </div>
        </div>
    </div>
</div>