
@{
    Layout = null;
}


<div class="row">
    <div class="container">
        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>
                <hr />
                <b>
                    <h5>
                        INDUSTRIAL SYMBIOSIS AND CLEAN PRODUCTION (Sustainable Production) R&D PROJECT MARKET (11.04.2013 - 11.04.2013)
                    </h5>
                </b>
                <p>
                    <b>Purpose:</b> To organize an Industrial Symbiosis R&D Project Market Event in the following areas for the first time in the world. It is an opportunity for industrialists and academics from many provinces of Turkey to come together
                </p>

                <p>
                    Thematic Areas
                    WASTE MANAGEMENT AND WASTE ASSESSMENT
                    RESOURCE MANAGEMENT AND POLLUTION PREVENTION
                    ENERGY MANAGEMENT
                    INFORMATION, COMMUNICATION, AND MANAGEMENT SYSTEMS
                    <br />
                    <b>Granted Institution:</b>  TGV
                    <br />
                    <b>Grant support Rate:</b>70%
                    <br />
                    <b>Stakeholders:</b>No Partner

                </p>

            </div>
        </div>
    </div>
</div>
