<div id="bilgiEdinmeForm"> 
  <div class="form-group row">
    <label for="selectBasvuruTipi" class="col-4 col-form-label">Başvuru Formu Tipi</label> 
    <div class="col-8">
      <select id="selectBasvuruTipi" name="selectBasvuruTipi" class="custom-select form-control">
        <option value="Gerçek Kişiler İçin">Gerçek Kişiler İçin</option>
        <option value="Tüzel Kişiler için">Tüzel Kişiler için</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="text" class="col-4 col-form-label">Ad Soyad-Ünvan (*)</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            
          </div>
        </div> 
        <input id="txtadSoyad" name="txtadSoyad" type="text" class="form-control" data-required='true' data-group_name='bilgiEdinmeForm' data-message_type='formmessage' data-error_message="Ad Soyad Alanı Boş Geçilemez." >
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="textareaAdress" class="col-4 col-form-label">Ev-iş Adres</label> 
    <div class="col-8">
      <textarea id="textareaAdress" name="textareaAdress" cols="40" rows="3" class="form-control"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="txtTCKN" class="col-4 col-form-label">T.C. Kimlik No</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            
          </div>
        </div> 
        <input id="txtTCKN" name="txtTCKN" type="text" class="form-control">
      </div>
    </div>
  </div>
    <div class="form-group row">
    <label for="txtEposta" class="col-4 col-form-label">Eposta (*)</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            
          </div>
        </div> 
        <input id="txtEposta" name="txtEposta" type="text" class="form-control" data-required='true' data-group_name='bilgiEdinmeForm' data-message_type='formmessage' data-error_message="Eposta Alanı Boş Geçilemez." >
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Hangi Yolla Cevap Almak İstediği</label> 
    <div class="col-8">
      <div class="form-check custom-control custom-radio custom-control-inline">
        <input type="radio" class="form-check-input" id="radioEposta" name="radioEposta" data-required='true' data-group_name='bilgiEdinmeForm' data-message_type='formmessage' data-error_message="Lütfen bir yanıt tipi seçiniz.">
        <label class="form-check-label" for="radioEposta">Eposta</label>
      </div>
      <div class="form-check custom-control custom-radio custom-control-inline">
        <input type="radio" class="form-check-input" id="radioYazili" name="radioYazili" data-group_name='bilgiEdinmeForm' data-message_type='formmessage' data-error_message="Lütfen bir yanıt tipi seçiniz.">
        <label class="form-check-label" for="radioYazili">Yazılı</label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="textareaAciklama" class="col-4 col-form-label">Açıklama</label> 
    <div class="col-8">
      <textarea id="ckeditor" name="textareaAciklama" cols="40" rows="5" class="form-control ckeditor"></textarea>
    </div>
  </div> 
      
    <div class="form-group row">
    <div class="offset-4 col-8">
        
      <div class="g-recaptcha" data-sitekey="6Lf3QFcdAAAAAFLzwfmcEQ0_RrRFSb8B1WrfWSDN"></div>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-4 col-8 text-right">        
      <a data-mode="bilgiEdinmeFormIslem" class="btn btn-primary" data-type="Kaydet" data-id="0" data-required='true' data-moving_scroll_bar='1' data-group_name='bilgiEdinmeForm'>Gönder</a>
    </div>
  </div>
   </div>
 
  <script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>