@{
    Layout = null;
}


<div class="row">
    <div class="container">


        <div class="col-lg-12 p-0 m-0">
            <!--responsive değil -->
            <div class="jumbotron-fluid ts-grid-box mb-3">



                <div>
                    <h2 class="text-dark text mb-5 mt-2">ADANA CHAMBER OF INDUSTRY HISTORY</h2>

                    <hr style=" background-color:black; height:0.5px; " />

                </div>

            


                <div style="width=402px; height=166px;">
                    <a target="_blank" href="https://www.youtube.com/watch?v=iiil5aN8b4c"><img src="~/Content/images/Index/meclis.jpg" /></a>
                </div>

                <p>
                    The establishment of the Adana Chamber of Industry came to the fore when our country entered the planned development process.

                    The first official step was taken in the establishment of the Adana Chamber of Industry with the "power of attorney and authority"

                    prepared by the Adana First Notary that came to action with the added stamp of 150 kurus on July 5, 1966.

                </p>

                <p>
                    The requests of 181 members registered to<strong> the Adana Chamber of Commerce and </strong> Industry were recorded as follows:
                <p>



                    "As it is known, the main goal  in the planned development period we are in,  is to rapidly increase our national income. In the realization of this aim, industrial activities are of primary importance. Today, civilized countries with higher welfare levels are countries that have advanced in the industry without exception.
                </p>

                <p>

                    The development of the industry in our country depends on the removal of various obstacles
                    and heavy formalities in this field and the replacing them with encouraging constructive factors....

                </p>

                <p>
                    ... The need for rapid development of the country necessitates
                    various problems related to the industry to be taken seriously
                    and conveyed to the relevant authorities easily. We have to quickly
                    start studies based on knowledge, expertise, and experience on various
                    important issues such as the issues related to the plan, the promotion
                    of industrial investments, various tax relations, industrial zones, the
                    export of industrial products, the reorganization of our industry, employer-employee relations and finally the joint market.

                </p>


                <!---->


                <p>

                    We sincerely believe in the importance of the positive work that an industry chamber to be established
                    in Adana will carry out in these fields, and the results that will be
                    achieved as a result of close contact with the relevant official bodies.
                </p>


                <p>
                    In this aspect, we, the industrialists operating in Adana province,
                    determine our wish regarding the establishment of the Adana Chamber
                    of Industry, pursuant to Articles 3 and 4 of Law No. 5590, to represent
                    us before the relevant authorities and persons for the realization of
                    this and to execute the transactions. being authorized; We elected Sakıp
                    Sabancı, Ahmet Kavrakoğlu, Yalçın Yarman, Hizbullah Ocak, Mustafa Paksoy
                    and Selahattin kanka as representatives."<strong> (Adana Industrialists)</strong>
                </p>

                <p>
                    all procedures had been carried out on December 5, 1966,.
                    The first Board of Directors and the first Assembly Meeting
                    were also held on this date.

                </p>


                <p>
                    Adana Governor <strong> Ö. Lütfi Hancıoğlu</strong> also attended the meeting, the first members of the Assembly;
                    <strong>  Kemal Tuncel,  Ahmet Kavrakoğlu, Hizbullah Ocak, Sakıp Sabancı, Selahattin Canka, Kenan Çetinel, </strong>

                </p>

                <p>

                    Yalçın Yarman, Rüstem Sardaşlar, İhsan Fikri Pancaroğlu, Bahri Ay, Teyfik Yılmaz Sergici, Kadir İpek, Bahtiyar Olgun were present.
                </p>


                <p>

                    In the first meeting, the President and Deputy Speaker of the Assembly
                    were elected. While
                    <strong>
                        Selahattin Canka
                    </strong>

                    was elected as the Speaker of the
                    Assembly and
                    <strong>
                        Bahtiyar Olgun
                    </strong>
                    was elected as the Deputy Speaker, the Board
                    of Directors was determined as follows:
                </p>


                <p>

                    <strong>
                        Sakıp Sabancı
                    </strong>
                    became the Chairman of the Board of Directors,
                    <strong>
                        Yalçın Yarman
                    </strong>
                    became the Deputy Chairman of the Board of Directors,
                    <strong>
                        Kenan Çetinel
                    </strong>
                    became the Accounting Member, and
                    <strong>
                        Hizbullah Ocak
                    </strong>
                    and
                    <strong>
                        Ahmet Kavrakoğlu
                    </strong>
                    became members of the Board of Directors.
                </p>

                <p>

                    <strong>
                        Adana Chamber of Industry
                    </strong>
                    undersigned many important decisions for the development
                    of the industry in the region, especially the establishment of the Hacı Sabancı
                    Organized Industrial Zone.<strong>
                        ADASO
                    </strong>, in addition to the task given by the Law No.
                    5174, has always been among the institutions that provide the greatest support
                    to the province's economic, social and cultural activities.

                </p>

                <p>

                    <a target="_blank" href="https://www.youtube.com/watch?v=iiil5aN8b4c"<b> Click And Watch Our Promotional Film</b> </a>
                </p>
            </div>
        </div>
    </div>
</div>  