
@{
    Layout = null;
}

<div class="row">
    <div class="container">
        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>
                <hr />
               
                    <h5>
                        WE TAKE BUSINESSES STEPS AT THE DIGITAL WORLD TOGETHER IN ADANA PROJECT (2.11.2016 - 2.11.2017)
                    </h5>
               
                <p>
                    <b>Project Summary:</b> Within the scope of our project submitted and accepted to Çukurova Development Agency (ÇKA) in partnership with our Chamber and Adana Chamber of Commerce; As a result of transferring member registration and archive processes to digital media, it is aimed to improve the service quality offered by the chambers to their members.
                    Within the scope of the project, ISO 27001 Information Security Management System will be installed in the Adana Chamber of Commerce and Adana Chamber of Industry. In the platform to be established within the Adana Chamber of Commerce and Adana Chamber of Industry, members will be able to enter their own promotional information, and technical specifications of their products, mark their workplaces on the map, site visitors will be able to reach the relevant company using the

                    search engine, thus companies will have the opportunity to conduct e-commerce and joint R&D studies.
                    In addition, these accesses can be provided with the mobile applications to be developed within the scope of the project, as well as with the navigation integration to the companies.



                </p>

                <p>

                    <b>Project Period : </b> 2015-2016
                    <br />
                    <b>Project Budget: </b>  642,464,00 TL (75% supported by Çukurova Development Agency.)
                    <br />
                    <b>Project Partners : </b> Adana Chamber of Commerce, Adana Chamber of Industry
                </p>

            </div>
        </div>
    </div>
</div>

