@{
    Layout = null;
}

<div class="row">
    <div class="container">


        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>

                <hr />

                <h4>The Project of establishing and developing the export market for the advanced metal technology industry in Adana - 1 (6.12.2018 - 6.12.2019)</h4>

                <p><strong>Project period:</strong> December 6, 2018 - Ongoing</p>

                <p><strong>Project budget:</strong> (75% local development / export / assembly)</p>

                <p><strong>Project partners:</strong> Adana Chamber of Industry, Ministry of Trade - Supporting Program for the Development of International Competition (Ur-Ge)</p>

                <p>
                    <strong>Project Summary:</strong> Within the scope of the project;  In order to support the development of the metal technology industry sector, which is one of the leading sectors in the Cukurova region, with the Supporting Program for the Development of International Competition (Ur-Ge) and the Ministry of Trade, the obstacles facing the exporting companies ,which are operating in the field of metal technologies processing registered in the Adana Chamber of Industry, will be analyzed; Through training and advisory support, companies aim to export and improve their exports within the project.
                    <br />
                    Within this project, on a company basis;  There will be an increase in the amount and the value of exports, the diversity of exporting countries, the production capacity of the company, the brand of the company and the patented products.  on the basis of the project;  The total value created by the companies participating in the project, the amount of exports (in US dollars), the diversity of export countries, the production capacity and the number of employees will be increased.
                </p>
            </div>
        </div>
    </div>
</div>