################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AdasoWeb/FileContentIndex/5f566715-661b-4ffd-92ef-40fbb89e8de6.vsidx
/.vs/AdasoWeb/FileContentIndex/09a3c4e4-5f7b-4c9f-8e66-ed7ad0b03ba4.vsidx
/.vs/AdasoWeb/FileContentIndex/0e41b86b-f1c6-4f55-9c49-2bcd4ea1719f.vsidx
/.vs/AdasoWeb/FileContentIndex/dd98c9cb-bb71-47ed-943c-9d44b99986da.vsidx
