
@{
    Layout = null;
}

<div class="row">
    <div class="container">


        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>

                <hr />

                <h4>Adana Center for Efficiency and Digitization (YDDM) Project (Model Factory + Design Workshops) (1.02.2019 - 31.08.2020)</h4>

                <p><strong>Project Duration:</strong> 2019 February - 2020 August Ongoing</p>

                <p><strong>Project budget:</strong> (100% local development/capacity development/employment) 7.000.000,00 TL</p>

                <p><strong>Project partners:</strong> Adana Chamber of Industry, Ministry of Industry and Technology / Centers of Attraction Support Program 2018</p>

                <p>
                    <strong>Project summary:</strong> With the construction of the modular factory by YDDM, this project aims to increase the competitiveness of enterprises with a focus on digitization and lean production.  Within the scope of the project, the design-oriented development of the leading sectors of Adana makers will be accelerated, and applied training and advisory services will be provided, providing solutions to increase the efficiency and competitiveness of enterprises based on the philosophy of lean production with a focus on digitalization.
                    <br />
                    For this purpose, within YDDM;  A workshop on the efficiency of lean production and digitization and workshops on textiles, furniture and industrial design will be established.  With the YDDM project to be realized within the scope of Lean Production, Industry 4.0 and Digitization, it is expected to come up with solutions that increase productivity and competitiveness, provide applied training and advisory services, train qualified personnel, develop design capabilities, and to increase exports of manufacturers.
                </p>
            </div>
        </div>
    </div>
</div>