
@{
    Layout = null;
}


<div class="row">
    <div class="container">
        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>
                <hr />
                <b>
                    <h5>
                        ADANA FURNITURE MANUFACTURING SECTOR EXPORT MARKET CREATION AND DEVELOPMENT UR-GE PROJECT (7.07.2016 - 19.08.2017)
                    </h5>
                </b>
                <p>
                    <b>Objective:</b> To increase the international competitiveness of the Adana furniture manufacturing sector and the export market shares of the enterprises operating in the furniture sector.
                </p>

                <p>

                    <b>Granted Institution:</b>  T.C. Ministry of Economy
                    <br />
                    <b>Grant support Amount:</b>for each activity, The Ministry of Economy provides 75% support.
                    <br />
                    <b>Stakeholders:</b>No Partner

                </p>

            </div>
        </div>
    </div>
</div>
