
@{
    Layout = null;
}

<div class="row">
    <div class="container">
        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">
                <h4>PROJECTS</h4>
                <hr />
                
                    <h6>
                        THE FIRST AND ONLY EDUCATION AND CAREER CENTER OF THE REGION WITH CONTINUOUS EDUCATION AND CAREER CONSULTING SERVICE FOR THE IMMIGRANT POPULATION OF 100 PEOPLE
                        (22.06.2012  - 22.06.2013)
                    </h6>


                <p>
                    Purpose: Establishing a constantly developing, self-renewing, and technologically appropriate training area in order to ensure that women and young people who have migrated and are in the position of unskilled labor can receive theoretical and practical vocational training and be placed in a job, and meet the qualified labor force need of the labor market; for this purpose, establishing the FIRST and ONLY training and career center with a capacity of 112 people, providing continuous training for the immigrant population in the Region, increasing the activities and inter-institutional cooperation that ensure the integration of the immigrant population in the Region.
                    Granted Institution: Çukurova Development Agency
                    Grant support rate: 90%
                    Stakeholders: No Partner.


                </p>

                <div class="container">


                  
                </div>
            </div>
        </div>
    </div>
</div>
