
@{
    Layout = null;
}


<div class="row">
    <div class="container">
        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>
                <hr />
                <b>
                    <h5>
                        ADANA MACHINE MANUFACTURING INDUSTRY DEVELOPMENT OF INTERNATIONAL COMPETITION (UR-GE) SUPPORT PROJECT (1.05.2016 - 19.08.2016)
                    </h5>
                </b>
                <p>
                    <b>Project Summary:</b> Within the scope of the project; T.R. In line with the International Competition Development (Ur-Ge) Support Program of the Ministry of Commerce, the obstacles in the export of the companies operating in the furniture manufacturing field registered with the Adana Chamber of Industry, in order to support the development of the Plastic, Furniture sector, one of the leading sectors of the Çukurova Region, are analyzed. will be; Within the scope of the project, with the necessary training and consultancy support, it is aimed for companies to export / to improve their exports.
                    Within the scope of the project, on a company basis; There will be an increase in the export amount, variety of exported countries, firm production capacity, firm brand, and patented products. On the basis of the project; There will be an increase in the total value created by the companies participating in the project, the export amount (USD), the variety of export countries, the production capacity and the number of employees.


                </p>

                <p>

                    <b>Project Period : </b> 17 June 2016 -13 September 2019 Completed
                    <br />
                    <b>Project Budget: </b> ( 75% LOCAL DEVELOPMENT / EXPORT / CLUSTERING )
                    <br />
                    <b>Project Partners : </b> ADANA CHAMBER OF INDUSTRY, T.C. MINISTRY OF COMMERCE - Development of International Competition (Ur-Ge) Support Program
                </p>

            </div>
        </div>
    </div>
</div>





