
@{
    Layout = null;
}


<div class="row">
    <div class="container">


        <div class="col-lg-12 p-0 m-0">

            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h2 class="text-dark text mb-5 mt-2">  DUTIES AND RESPONSIBILITIES          </h2>

                <hr style=" background-color:black; height:0.5px; " />


                <p>
                    ADASO considers itself liable to fulfill the following responsibilities;
                </p>

                <p>
                    <ul>
                    <li> To work for the development of the industry for the benefit of the country</li>
                    <li> Providing all kinds of professional information needed by the industry</li>
                    <li> To carry out all kinds of industrial research, examination, and statistical studies</li>
                    <li> Following the market prices of the main substances and publishing accordingly </li>
                    <li> To take mandatory professional decisions, and to give opinions to the relevant units on matters related to professional activities.</li>

                    <li> Engaging in training and awareness-raising activities through courses, seminars, conferences, and working groups</li>
                    <li>Organizing activities such as local and regional fairs and exhibitions</li>
                    <li>Opening or participating in laboratories that determine the quality of commercial goods</li>
                    <li>Establishment and management of organized industrial sites</li>
                    <li>          The services provided by the Adana Chamber of Industry to its members can generally be grouped into 2 main groups.
                   
                   
                    <li>The first of of which is the services provided in accordance with the reporting responsibility arising </li>
                    </ul>
                </p>
                <strong>

                    from the current legislation. The second type of service is the
                    services carried out for the growth of Adana industry and to
                    increase the competitiveness of our members.

                </strong>


                <p>




            </div>
        </div>
    </div>
</div>