
@{
    Layout = null;
}


<div class="row">
    <div class="container">


        <div class="col-lg-12 p-0 m-0">

            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h2 class="text-dark text mb-5 mt-2">Room Registration Procedures</h2>

                <hr style=" background-color:black; height:0.5px; " />

                <p>
                    <strong>OBLIGATION TO REGISTER TO THE CHAMBER (Law no. 5174 art.9, Chamber Transaction Regulation art.5)            </strong>

                </p>

                <p>
                    According to Article 5 of the Law No. 5174, all real and
                    legal persons holding the title of industrialists, as well
                    as their branches and factories, are obliged to register
                    with the chamber where they are located within one month
                    from the date they start to work. In provinces where a
                    Chamber of Industry is established, industrialists fulfill
                    their obligation to register with the chamber of commerce
                    by registering with the chamber of industry.
                </p>

                @*Sanayici olma şartları *@

                <p>
                    <h4> CONDITIONS OF BEING INDUSTRIAL:</h4>
                </p>
                <ul>
                    <li>
                        Using moving tools such as workbenches, devices, machines,
                    </li>



                    <li>
                        To produce a new product by processing raw materials, semi-finished products,
                    </li>

                    <li>
                        To employ at least 10 workers,
                    </li>

                    <li>
                        The law also accepts those who operate workplaces where underground resources are extracted and processed,
                        and those who produce information, technology, and software, as industrialists, with the condition that they employ at least 10 workers.
                    </li>
                </ul>


                <p>
                    REGISTRATION ON REQUEST OR EXHIBITION (Room Operations Regulation art. 6, 7, 8)
                </p>


                <p>
                    Registration on Request: Real and legal persons who want to register with
                    the Chamber apply to the Chamber Registry Service by completing the documents
                    on the website.
                    The accuracy of the information specified in the registration declaration and
                    the status of the business are examined by the chamber when necessary, and a
                    determination report is prepared as a result of this examination.
                    The board of directors decides to enroll those whose applications are found
                    to be in compliance with the provisions of the legislation.
                    Ex officio Registration: In case it is determined that there is an obligation
                    to register to the chamber according to Article 9 of the Law No. 5174, but does not
                    fulfill this obligation within one month from the date of employment; Members can be
                    registered ex officio with the decision of the board of directors of the chamber.
                </p>


                <ul>
                    <h4>REMOVING THE MEMBERSHIP REGISTRATION</h4>
                </ul>

                <p>
                    Deletion of Chamber Membership Record on Request (Chamber Transaction Regulation art.15)

                </p>
                <p>
                    The registration in the Trade Registry must have been abandoned or the member must be in an inactive state.
                </p>


                <p>

                    These situations must be documented by the member.

                </p>

                <p>
                    The registration of the member is deleted by the decision of the board of directors.

                </p>


                <p>
                    Deletion of Chamber Membership

                    Record on Application or Ex
                    officio due to Loss of Industrialist
                    Qualification (Chamber Transaction Regulation art.15).
                </p>


                <p>

                    Detection of loss of industrial qualification upon application or ex officio:
                </p>



                <p>
                    The qualifications determined in Article 5 of the Law No. 5174 must be lost.
                </p>

                <p>

                    This situation should have been determined in the room.
                </p>



                <p>
                    The registration of the member is deleted by the decision of the board of directors.
                </p>




                <h4>
                    <strong>
                        NOTIFICATION OF CHANGES
                        (Law No. 5174 art.10, Chamber Transactions Regulation art.13)
                    </strong>
                </h4>

                <p>
                    Those who are obliged to register to the chambers are obliged
                    to notify the chambers they are registered to, within one month
                    from the date of their occurrence, of any changes in their status
                    that need to be registered and announced according to the Turkish Commercial Code.
                </p>




                <p>
                    CHAMBER REGISTRATION DOCUMENTS <!-- oda kayıt evrakları-->
                </p>


                <p style="color:red;">
                    For Real Persons:
                </p>

                <ol>
                    <li>
                        <a href="#">Member Registration Application Documents</a>
                    </li>
                    <li>
                        Trade Registry Certificate (Original)
                    </li>
                    <li>
                        Signature and Title Statement (notarized)
                    </li>
                    <li>
                        <u> Photocopy of Identity Card</u> and <u>Residence Certificate</u> (3 Pieces)
                    </li>

                    <li>
                        List of Machinery and Equipment Used in Production and Copies of Purchase Invoices
                    </li>


                    <li>
                        If the Workplace is in the Ownership of the Company, Photocopy of the Title Deed, If it is Rented a Lease Contract Photocopy
                    </li>

                    <li>
                        SSI Premium Statement (At least 10 workers must be working)
                    </li>


                    <li>
                        Balance Sheets of Firms Established Before the Current Year, Prepared as of the End of the Previous Year
                    </li>

                    <li>
                        If the company is registered in another Chamber; a copy of new dated chamber registration
                    </li>

                    <li>
                        Photocopy of tax plate<strong> (Nace code between 01-45 is required to show that you are in Industrial Activity)</strong>
                    </li>





                </ol>

                <p style="color:red;">
                    For Legal Entities:
                </p>

                <ol>
                    <li>
                        <a href="#">Member Registration Application Documents</a>
                    </li>
                    <li>
                        Trade Certificate of Registry
                    </li>
                    <li>
                        Notary Certified Signature Circular of Representatives
                    </li>
                    <li>
                        Photocopies of Identity Cards and Residence Certificates of Partners and Officials, and 3 Photographs of Representatives
                    </li>

                    <li>
                        List of Machinery and Equipment Used in Production and Copies of Purchase Invoices
                    </li>


                    <li>
                        If the Workplace is in the Ownership of the Company, Photocopy of the Title Deed, If it is Rented a Lease Contract Photocopy
                    </li>

                    <li>
                        SSI Premium Declaration (Minimum 10 workers must be working)
                    </li>


                    <li>
                        Balance Sheets of Firms Established Before the Current Year, Prepared as of the End of the Previous Year
                    </li>

                    <li>
                        If the company is registered in another Chamber; a Copy of the New Date Chamber Registry Registration
                    </li>

                    <li>
                        Photocopy of Tax Board (Nace code between 01- 45 is required to show that you are in Industrial Activity)
                    </li>


                </ol>


                <p style="color:red;">
                    For Legal Entity Branches:
                </p>

                <ol>
                    <li>
                        <a href="#">Member Registration Application Documents</a>
                    </li>
                    <li>
                        Trade Registry Certificate of the Branch (Original)
                    </li>
                    <li>
                        Notary Certified Signature Circular of Representatives
                    </li>
                    <li>
                        Photocopies of the Representatives' Identity Cards and Residence Documents and 3 Photographs of the Representatives
                    </li>

                    <li>
                        List of Machinery and Equipment Used in Production and Copies of Purchase Invoices
                    </li>


                    <li>
                        If the Workplace is in the Ownership of the Company, Photocopy of the Title Deed, If it is Rented a Lease Contract Photocopy
                    </li>

                    <li>
                        SSI Premium Declaration (Minimum 10 workers must be working)
                    </li>


                    <li>
                        Balance Sheets of Firms Established Before the Current Year, Prepared as of the End of the Previous Year
                    </li>
                    <li>
                        If the company is registered in another Chamber; Copy of New Date Chamber Registry Registration
                    </li>
                    <li>
                        Photocopy of Tax Board (Nace code between 01- 45 is required to show that you are in Industrial Activity)
                    </li>


                </ol>
                <p>
                    Note: After completing the documents above,
                    it is necessary to apply to our Chamber for registration.
                    <span style="color:red;">MISSING APPLICATION FILES ARE NOT ACCEPTED.</span>
                </p>

                <p style="color:Red;">
                    It is expected that the photocopies are legible and that staples are not used.
                </p>


                <p>
                    Supplementary information can be obtained from the Registry Service on filling out registration documents and other matters.
                </p>

                <p>
                    <u>
                        <strong>
                            For detailed information;
                        </strong>
                    </u>
                </p>

                <strong style="color:Black;">  Azizhan DEDE </strong><br />
                Registry Officer<br />

                ADANA CHAMBER OF INDUSTRY<br />

                Phone : (0 322) 436 63 63 - 122<br />


                Fax : (0 322) 436 16 36<br />

                E-Mail: <a href=#>sicil@adaso.org.tr</a><br />

                Web :<a href="https://www.adaso.org.tr/"> www.adaso.org.tr</a><br />

                Turhan Cemal Beriker Blv. No: 134 Seyhan - Adana / TURKEY<br />






























            </div>
        </div>
    </div>
</div>