
@{
    Layout = null;
}


<div class="row">
    <div class="container">
        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>
                <hr />
                <b>
                    <h5>
                        ONLINE SERVICE TO ADASO MEMBERS PROJECT (21.06.2013 - 21.06.2015)
                    </h5>
                </b>
                <p>
                    <b>Purpose:</b> By investing in the field of Information and Communication Technologies, the services offered to approximately 2000 companies that are members of the Adana Chamber of Industry (ADASO) are carried out through the online system, thus increasing the service quality and member satisfaction offered to the members; Contributing to increasing the quality of work conditions throughout the Province by setting an example for similar studies in other Chambers throughout the province.
                </p>

                <p>

                    <b>Granted Institution:</b>  Çukurova Development Agency
                    <br />
                    <b>Grant support Rate:</b>75%
                    <br />
                    <b>Stakeholders:</b>No Partner

                </p>

            </div>
        </div>
    </div>
</div>
