
@{
    Layout = null;
}


<div class="row">
    <div class="container">
        <div class="col-lg-12 p-0 m-0">
            <div class="jumbotron-fluid ts-grid-box mb-3">
                <h2 class="text-dark text mb-5 mt-2" style="color:#B68A33">INVESTMENT INCENTIVE CERTIFICATE</h2>
                <hr style=" background-color:black; height:0.5px; " />

                <p style="color:#B68A33">
                    Investment Incentive Practices
                </p>
                <p>
                    The General Directorate of Incentive
                    Implementation and Foreign Capital
                    currently supports investment projects
                    to be realized in our country by companies
                    with national or international capital, within the
                    framework of 3 basic incentive programs. You can access
                    the mentioned incentive programs and the information in the list below from the
                    documents in the Legislation tab.
                </p>
                <ol>
                    <li> Investment Incentive System (Presentation)</li>
                    <li> Investment Incentive System (Note)</li>
                    <li> Project-Based Incentive System</li>
                    <li> Project-Based Incentives Presentation</li>

                    <li> Protocol Signed with Intermediary Institutions for Interest or Dividend Support Application</li>
                    <li> List of Intermediary Institutions Signing the Interest or Dividend Support Protocol</li>
                    <li> Announcement on Manufacturing-Based Import Substitution Support Package-Interest Support Application</li>
                    <li> Completion of Visa Documents for Investment Incentive Certificate not regulated in Electronic Incentive Application and Foreign Capital Information System (E-TUYS)</li>
                    <li> Announcement of Fees to be deposited in the Ministry's Revolving Fund Accounts for Investment Incentive Certificate Transactions</li>

                </ol>
                https://www.sanayi.gov.tr/destek-ve-tesvikler/yatirim-tesvik-sistemleri


                <ul class="list-group m-5">
                    <li class="list-group-item m-1"><i class="fa fa-pdf"></i><a href="~/content/files/adana chamber of industry - exporter members (2020).pdf">ADASO's Exporter Members – 2020</a></li>
                    <li class="list-group-item m-1"><i class="fa fa-pdf"></i><a href="~/content/files/adaso exporter companies  (09-2019).pdf">ADASO's Exporter Members – 2019</a></li>
                </ul>
                <p>
                    For detailed information;
                </p>
                Mehmet KARAKUS <br />
                Industrial Services Chief <br />
                Adana Chamber of Industry <br />
                Phone : 436 63 63 - 121 <br />
                E-Mail : industry@adaso.org.tr <br />


            </div> <!--grid box -->
      
        </div> <!--col end 9-->
    </div> <!--container end-->
</div> <!-- row end -->
