
@{
    Layout = null;
}


<div class="row">
    <div class="container">
        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>
                <hr />
                <b>
                    <h5>
                        ANALYSIS OF THE CURRENT STATUS OF THE ADANA INDUSTRY, DETECTION OF PROBLEMS, AND DEVELOPMENT AREAS (11.07.2016 - 30.10.2016)
                    </h5>
                </b>
                <p>
                    <b> Purpose:</b> A comprehensive analysis study was carried out for the Adana industry on a firm basis, with the findings obtained, strong and priority working areas of the Adana province industry on a firm and sectoral basis were determined, contributing to the development of the Adana industry with strategic planning and projects developed for the solution of the problems arising in the light of the findings. provided.


                </p>

                <p>

                    <b>Granted Institution:  </b> Çukurova Development Agency
                    <br />
                    <b>Grant support Rate:  </b> 100%
                    <br />
                    <b>Stakeholders:  </b> No Partner
                    <br />
                    <b>Status:</b>Completed
                </p>

            </div>
        </div>
</div>
</div>