
@{
    Layout = null;
}

<div class="row">
    <div class="container">


        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>

                <hr />

                <h4>The project of Developing cooperation between universities and the private sector and establishing basis for lean manufacturing in companies (17.09.2018 - 18.09.2020)</h4>

                <p><strong>Project period:</strong> 2018 - 2020</p>

                <p><strong>Project budget:</strong> 776,150.00 Turkish Liras (90% subsidized by Çukurova Development Agency.)</p>

                <p><strong>Project partners:</strong> Adana Chamber of Industry (ADASO), Adana Chamber of Commerce, Çukurova University, Adana University of Science and Technology</p>

                <p>
                    <strong>Project Summary:</strong> Within this project done by Adana Chamber of Industry (ADASO) and in partnership with Adana Chamber of Commerce, Çukurova University, and Adana University of Science and Technology, a center has been established aimed at developing cooperation between the universities and the private sector in Adana.
                    <br>
                    In the portal that will be created within this center;
                    <br>
                    Training unit
                    <br>
                    - Graduation Projects Unit (Thesis)
                    <br>
                    -Academic -Business Matching Unit
                    <br>
                    - The Lean Manufacturing Project Unit will be implemented.
                    To contribute to the development of cooperation between the university and the private sector in the Centre;
                    <br>
                    - Increasing the contribution of the training process in providing qualified cadres.
                    <br>
                    -Preparing academic thesis topics in universities in line with the expectations of the private sector.
                    <br>
                    - developing cooperation between academics and companies within the scope of the unit to be created, thus increasing research, development and innovation studies,
                    <br>
                    - Establishing a human and institutional infrastructure in Adana that contributes to increase the productivity of companies based on the philosophy of lean manufacturing ,
                    <br>
                    • The project also aims to increase the competitiveness of companies.
                </p>


            </div>
        </div>
    </div>
</div>
