<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta charset="utf-8" />
 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Adaso Web Sitesi Yönetetim Paneli
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <link rel="canonical" href="https://www.creative-tim.com/product/material-dashboard-pro" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />  
      
    <link rel="stylesheet" href="~/Admin/Content/css/material-dashboard.min6c54.css">
    <link rel="stylesheet" href="~/Admin/Content/demo/demo.css" />
   

</head>

<body class="off-canvas-sidebar">
 <form class="form"  action="#"> 
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
    <div class="container">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Adaso Website Yönetim Paneli</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
 
    </div>
  </nav>
  <!-- End Navbar -->
  <div id="mdlForm" class="wrapper wrapper-full-page">
    <div class="page-header register-page header-filter" filter-color="black" style="background-image: url('/Admin/Content/img/adasoLoginBack.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-md-5 ml-auto mr-auto">
            <div class="card card-signup">              
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 mr-auto"> 
       
                      <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">mail</i>
                            </span>
                          </div>
                          <input type="text" class="form-control" id="email" name="email" placeholder="Eposta...">
                        </div>
                      </div>
                      <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">lock_outline</i>
                            </span>
                          </div>
                          <input type="password" id="password" name="password" placeholder="Şifre..." class="form-control">
                        </div>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked="">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                               Kullanıcı sözleşmesini 
                          <a href="http://www.adaso.org.tr/WebDosyalar/Sayfalar/B%C3%BCltenler/Ki%C5%9Fisel%20Verilerin%20%C4%B0%C5%9Flenmesi%20ve%20Korunmas%C4%B1%20Talimat%C4%B1.pdf">kabul ediyorum.</a>.
                        </label>
                      </div>
                      <div class="text-center">
                        <a  class="btn btn-danger btn-round mt-4" data-mode="Login">Giriş</a>
                      </div>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>

  <script src="~/Admin/Content/js/core/jquery.min.js"></script>
  <script src="~/Admin/Content/js/core/popper.min.js"></script>
  <script src="~/Admin/Content/js/core/bootstrap-material-design.min.js"></script>  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>  
  <script async defer src="~/Admin/Content/js/plugins/buttons.js"></script>  
  <script src="~/Admin/Content/js/plugins/chartist.min.js"></script>  
  <script src="~/Admin/Content/js/plugins/bootstrap-notify.js"></script>
  <script src="~/Admin/Content/demo/jquery.sharrre.js"></script>
  <script src="~/Admin/Content/js/user/post_.js"></script>
  <script src="~/Admin/Content/js/user/form-validation.js"></script>
  <script src="~/Admin/Content/js/user/process-admin.js"></script>
  <script>
 
  </script>
</form>
</body>
</html>