
@{
    Layout = null;
}

<div class="row">
    <div class="container">


        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>

                <hr />

                <h4>DEVELOPING UNIVERSITY-PRIVATE SECTOR COLLABORATION AND CREATING LEAN MANUFACTURING INFRASTRUCTURE IN BUSINESSES (1.12.2017 - 31.12.2019)</h4>

                <p><strong>Project Period:</strong> 9 SEPTEMBER 2018 - 18 SEPTEMBER 2020 Ongoing</p>

                <p><strong>Project Budget:</strong> (90%) 776,150.00 TL</p>

                <p><strong>Project Partners:</strong> ADANA CHAMBER OF INDUSTRY, CUKUROVA DEVELOPMENT AGENCY</p>

                <p>
                    <strong>Project Summary:</strong> A Center is being established to develop Private Sector cooperation in Adana in the Commerce SO project by the Adana Chamber of Industry (ADA) and in partnership with the Adana Chamber of Commerce, Çukurova University, Adana Science and Technology University.

                    <br>
                    The Center in question will be created on the Portal;
                    <br>
                    - Internship Module
                    <br>
                    - Thesis Module
                    <br>
                    - Academician-Business Matching Module
                    <br>
                    - Lean Manufacturing Project Module
                    <br>
                    will take place
                    <br>
                    in the center, University-Private Sector Cooperation can be used in terms of security;
                    <br>
                    -Initiation of internship, contributing to the supply of staff,
                    <br>
                    - It is prepared in accordance with the special expectations of the theses in universities,
                    <br>
                    -Developing cooperation within the scope of the Module, where applications will be created with academicians, projects for adding R&D and projects,
                    <br>
                    - They receive training from the Lean production process of the training of the companies.
                    <br>
                    - It is aimed to direct the competitiveness of the companies.
                </p>




            </div>
        </div>
    </div>
</div>
