@{
    Layout = null;
}



<section class="block-wrapper mt-15">
    <div class="container">
        <div class="row post-style-3">
            <div class="col-lg-7 pr-0">
                <div class="ts-overlay-style featured-post">
                    <div class="item" style="background-image: url('/Content/images/Index/Duties_and_Respo.jpg')">
                        <div class="overlay-post-content">
                            <div class="post-content">
                                <h2 class="post-title large">
                                    <a href="?link=DutiesAndResp">DUTIES AND RESPONSIBILITIES</a>
                                </h2>
                            </div>
                        </div>
                        <!--/ Featured post end -->
                    </div>
                </div>
            </div>
            <!-- col end-->
            <div class="col-lg-5 pl-1 featured-post post-style-4">
                <div class="ts-overlay-style">
                    <div class="item height-310" style="background-image: url('/Content/images/Index/adasaBinaResponsive.jpg')">
                        <div class="overlay-post-content">
                            <div class="post-content">
                                <h2 class="post-title md">
                                    <a href="?link=History">HISTORY</a>
                                </h2>
                            </div>
                        </div>
                        <!--/ Featured post end -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 pr-1">
                        <div class="ts-overlay-style">
                            <div class="item height-190" style="background-image: url('/Content/images/Index/capacity_report_Responsive.jpg')">
                                <div class="overlay-post-content">
                                    <div class="post-content">
                                        <h2 class="post-title">
                                            <a href="?link=CapacityReport">CAPACITY REPORT</a>
                                        </h2>
                                    </div>
                                </div>
                                <!--/ Featured post end -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 pl-0">
                        <div class="ts-overlay-style">
                            <div class="item height-190" style="background-image: url('/Content/images/Index/RoomRegisterResponsive.jpg')">
                                <div class="overlay-post-content">
                                    <div class="post-content">
                                        <h2 class="post-title">
                                            <a href="?link=RoomRegistirationPro">ROOM REGISTRATION PROCEDURES</a>
                                        </h2>
                                    </div>
                                </div>
                                <!--/ Featured post end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row end-->
    </div>
    <!-- container end-->
</section>




<section class="block-wrapper">
    <div class="container">

        <!-- row end-->
        <div class="row ts-grid-item-2">
            <div class="col-lg-3">
                <div class="item">

                    <div class="ts-post-thumb">
                        <a href="#">
                            <img class="img-fluid" src="~/Content/images/Index/manufacturing.jpg" alt="Manufacturing">
                        </a>
                    </div>
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="?link=AdanaMachineManufacturing">ADANA MACHINE MANUFACTURING INDUSTRY DEVELOPMENT PROJECT</a>
                        </h3>
                        <span class="post-date-info">
                            <i class="fa fa-clock-o"></i>
                            1.05.2016 - 19.08.2016
                        </span>
                    </div>
                </div>
                <!-- end item-->
                <div class="item">
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="?link=AdanaFurnitureManufacturing">ADANA FURNITURE MANUFACTURING SECTOR EXPORT MARKET CREATION AND DEVELOPMENT UR-GE PROJECT</a>
                        </h3>
                        <span class="post-date-info">
                            <i class="fa fa-clock-o"></i>
                            7.07.2016 - 19.08.2017
                        </span>
                    </div>
                </div>
                <!-- end item-->
                <div class="item">
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="?link=AdanaFurnitureIndustry">ADANA MACHINE MANUFACTURING INDUSTRY DEVELOPMENT OF INTERNATIONAL COMPETITION (UR-GE) SUPPORT PROJECT </a>
                        </h3>
                        <span class="post-date-info">
                            <i class="fa fa-clock-o"></i>
                            1.05.2016 - 19.08.2016
                        </span>
                    </div>
                </div>
                <!-- end item-->
            </div>
            <div class="col-lg-3">
                <div class="item">

                    <div class="ts-post-thumb">
                        <a href="#">
                            <img class="img-fluid" src="~/Content/images/Index/workes.jpg" alt="MahirEllerStart">
                        </a>
                    </div>
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="?link=ProjectForCreatingForeign">PROJECT FOR CREATING FOREIGN TRADE ANALYSIS REPORTS ON ADANA'S SECTORS </a>
                        </h3>
                        <span class="post-date-info">
                            <i class="fa fa-clock-o"></i>
                            3.07.2015 - 3.07.2016
                        </span>
                    </div>
                </div>
                <!-- end item-->
                <div class="item">
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="?link=TechincalSupportTrainning">TECHNICAL SUPPORT TRAINING ACTIVITY  INSTITUTIONALIZATION, DATA ANALYSIS, AND STRATEGIC PROJECT  FOR ADASO STAFF</a>
                        </h3>
                        <span class="post-date-info">
                            <i class="fa fa-clock-o"></i>
                            1.11.2015 - 31.12.2015
                        </span>
                    </div>
                </div>
                <!-- end item-->
                <div class="item">
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="?link=AdanaCenterForEfficiency"> Adana Center for Efficiency and Digitization (YDDM) Project (Model Factory + Design Workshops)</a>
                        </h3>
                        <span class="post-date-info">
                            <i class="fa fa-clock-o"></i>
                            1.02.2019 - 31.08.2020
                        </span>
                    </div>
                    <!-- end item-->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item">
                    <div class="ts-post-thumb">
                        <a href="#">
                            <img class="img-fluid" src="~/Content/images/Index/analyisisRespo.jpg" alt="Analyisis">
                        </a>
                    </div>

                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="?link=TheProjectMarket">THE PROJECT OF ESTABLISHING AND DEVELOPING PLASTIC, PACKAGING AND</a>
                        </h3>
                        <span class="post-date-info">
                            <i class="fa fa-clock-o"></i>
                            17.08.2018 - 17.08.2020
                        </span>
                    </div>

                </div>
                <!-- end item-->
                <div class="item">
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="?link=TheProjectMarket2">THE PROJECT OF ESTABLISHING AND DEVELOPING THE EXPORT MARKET FOR THE FOOD INDUSTRIES SECTOR IN ADANA</a>
                        </h3>
                        <span class="post-date-info">
                            <i class="fa fa-clock-o"></i>
                            25.10.2018 - 30.11.2020
                        </span>
                    </div>
                </div>
                <!-- end item-->
                <div class="item">
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="?link=TheProjectOfDeveloping">THE PROJECT OF DEVELOPİNG COOPERATİON BETWEEN UNIVERSITIES AND THE PRİVATE SECTOR AND ESTABLİSHİNG BASIS FOR LEAN MANUFACTURING</a>
                        </h3>
                        <span class="post-date-info">
                            <i class="fa fa-clock-o"></i>
                            17.09.2018 - 18.09.2020
                        </span>
                    </div>
                </div>
                <!-- end item-->
            </div>
            <div class="col-lg-3">
                <div class="item">

                    <div class="ts-post-thumb">
                        <a href="#">
                            <img class="img-fluid" src="~/Content/images/Index/educationandbussnes.jpg" alt="Education">
                        </a>
                    </div>
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="?link=WeTakeBussines"> WE TAKE BUSINESSES STEPS AT THE DIGITAL WORLD TOGETHER IN ADANA  PROJECT</a>
                        </h3>
                        <span class="post-date-info">
                            <i class="fa fa-clock-o"></i>

                            2.11.2016 - 2.11.2017
                        </span>
                    </div>
                </div>
                <!-- end item-->
                <div class="item">
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="?link=EducationAndCareer">
                                THE FIRST AND ONLY EDUCATION AND CAREER CENTER OF THE REGION WITH CONTINUOUS EDUCATION AND CAREER

                            </a>

                        </h3>
                        <span class="post-date-info">
                            <i class="fa fa-clock-o"></i>
                            22.06.2012  - 22.06.2013

                        </span>
                    </div>
                </div>
                <!-- end item-->
                <div class="item">
                    <div class="post-content">
                        <h3 class="post-title">
                            <a href="?link=CurrentStusAnalysis">CURRENT STATUS ANALYSIS OF ADANA INDUSTRY, DETECTION OF PROBLEMS AND DEVELOPMENT AREAS</a>
                        </h3>
                        <span class="post-date-info">
                            <i class="fa fa-clock-o"></i>
                            30.05.2016 - 30.08.2019
                        </span>
                    </div>
                </div>
                <!-- end item-->
            </div>
        </div>
    </div>
</section>


