/*begin-commonstyles library*//*!
 * froala_editor v3.2.3 (https://www.froala.com/wysiwyg-editor)
 * License https://froala.com/wysiwyg-editor/terms/
 * Copyright 2014-2020 Froala Labs
 */
.u-repeater {
    display: grid;
    grid-template-columns: repeat(3, 33.33333333%);
}

.u-repeater-item {
    display: flex;
    position: relative;
}
.u-text-palette-1-base,
a.u-button-style.u-text-palette-1-base,
a.u-button-style.u-text-palette-1-base[class*="u-border-"] {
    color: #4284ff !important;
}

    a.u-button-style.u-text-palette-1-base:hover,
    a.u-button-style.u-text-palette-1-base[class*="u-border-"]:hover,
    a.u-button-style.u-text-palette-1-base:focus,
    a.u-button-style.u-text-palette-1-base[class*="u-border-"]:focus,
    a.u-button-style.u-button-style.u-text-palette-1-base:active,
    a.u-button-style.u-button-style.u-text-palette-1-base[class*="u-border-"]:active,
    a.u-button-style.u-button-style.u-text-palette-1-base.active,
    a.u-button-style.u-button-style.u-text-palette-1-base[class*="u-border-"].active {
        color: #226fff !important;
    }
    .u-text-palette-1-base svg,
    .u-text-hover-palette-1-base:hover svg,
    .u-text-hover-palette-1-base:focus svg {
        fill: #4284ff;
    }

.u-image-circle.u-expanded-width {
    padding-bottom: 100%;
}

@media (min-width: 1200px) {
    .u-image-circle.u-expanded-width-xl {
        padding-bottom: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .u-image-circle.u-expanded-width-lg {
        padding-bottom: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .u-image-circle.u-expanded-width-md {
        padding-bottom: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .u-image-circle.u-expanded-width-sm {
        padding-bottom: 100%;
    }
}

@media (max-width: 575px) {
    .u-image-circle.u-expanded-width-xs {
        padding-bottom: 100%;
    }
}

/*end-variables sitestylecss*/
@media (min-width: 1200px) {
    .u-header {
        background-image: none
    }

        .u-header .u-sheet-1 {
            min-height: 74px
        }

        .u-header .u-text-1 {
            margin-top: 20px;
            margin-right: 839.438px;
            margin-bottom: 0px;
            margin-left: 0px
        }

        .u-header .u-menu-1 {
            margin-top: -37.5px;
            margin-right: 0px;
            margin-bottom: 5px;
            margin-left: auto
        }

    .u-block-604f-10 {
        box-shadow: 2px 2px 8px 0 rgba(128,128,128,1)
    }

    .u-header .u-nav-2 {
        font-size: 1.25rem
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .u-header {
        background-image: none
    }

        .u-header .u-sheet-1 {
            min-height: 74px
        }

        .u-header .u-text-1 {
            margin-top: 19.5px;
            margin-right: 637.156px;
            margin-bottom: 0px;
            margin-left: 0px
        }

        .u-header .u-menu-1 {
            margin-top: -36px;
            margin-right: 0px;
            margin-bottom: 22.5px;
            margin-left: auto
        }

    .u-block-604f-10 {
        box-shadow: 2px 2px 8px 0 rgba(128,128,128,1)
    }

    .u-header .u-nav-2 {
        font-size: 1.25rem
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .u-header {
        background-image: none
    }

        .u-header .u-sheet-1 {
            min-height: 74px
        }

        .u-header .u-text-1 {
            margin-top: 19.5px;
            margin-right: 418.156px;
            margin-bottom: 0px;
            margin-left: 0px
        }

        .u-header .u-menu-1 {
            margin-top: -34px;
            margin-right: 0px;
            margin-bottom: 20.5px;
            margin-left: auto
        }

    .u-block-604f-10 {
        box-shadow: 2px 2px 8px 0 rgba(128,128,128,1)
    }

    .u-header .u-nav-2 {
        font-size: 1.25rem
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .u-header {
        background-image: none
    }

        .u-header .u-sheet-1 {
            min-height: 74px
        }

        .u-header .u-text-1 {
            margin-top: 19.5px;
            margin-right: 270px;
            margin-bottom: 0px;
            margin-left: 0px
        }

        .u-header .u-menu-1 {
            width: 24px;
            margin-top: -34px;
            margin-right: 0px;
            margin-bottom: 20.5px;
            margin-left: auto
        }

    .u-block-604f-10 {
        box-shadow: 2px 2px 8px 0 rgba(128,128,128,1)
    }

    .u-header .u-nav-2 {
        font-size: 1.25rem
    }
}

@media (max-width: 575px) {
    .u-header {
        background-image: none
    }

        .u-header .u-sheet-1 {
            min-height: 80px
        }

        .u-header .u-text-1 {
            margin-top: 22px;
            margin-right: 91px;
            margin-bottom: 0px;
            margin-left: 0px
        }

        .u-header .u-menu-1 {
            margin-top: -34px;
            margin-right: 0px;
            margin-bottom: 24px;
            margin-left: auto;
            width: auto
        }

    .u-block-604f-10 {
        box-shadow: 2px 2px 8px 0 rgba(128,128,128,1)
    }

    .u-header .u-nav-2 {
        font-size: 1.25rem
    }
}

@media (min-width: 1200px) {
    .u-footer .u-sheet-1 {
        min-height: 263px
    }

    .u-footer .u-layout-wrap-1 {
        margin-top: 84px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: 0px
    }

    .u-footer .u-layout-cell-1 {
        background-image: none;
        min-height: 123px
    }

    .u-footer .u-container-layout-1 {
        padding-right: 60px
    }

    .u-footer .u-text-1 {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px
    }

    .u-footer .u-text-2 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px
    }

    .u-footer .u-layout-cell-2 {
        background-image: none;
        min-height: 123px
    }

    .u-footer .u-container-layout-2 {
        padding-right: 60px
    }

    .u-footer .u-text-3 {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px
    }

    .u-footer .u-text-4 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px
    }

    .u-footer .u-layout-cell-3 {
        background-image: none;
        min-height: 123px
    }

    .u-footer .u-container-layout-3 {
        padding-right: 60px
    }

    .u-footer .u-text-5 {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px
    }

    .u-footer .u-text-6 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px
    }

    .u-footer .u-layout-cell-4 {
        min-height: 123px;
        background-image: none
    }

    .u-footer .u-container-layout-4 {
        padding-right: 60px
    }

    .u-footer .u-text-7 {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px
    }

    .u-footer .u-text-8 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px
    }

    .u-footer .u-social-icons-1 {
        white-space: nowrap;
        height: 19.125px;
        min-height: 16px;
        width: 106.5px;
        min-width: 94px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto
    }

    .u-footer .u-icon-1 {
        height: 100%
    }

    .u-footer .u-icon-2 {
        height: 100%
    }

    .u-footer .u-icon-3 {
        height: 100%
    }

    .u-footer .u-icon-4 {
        height: 100%
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .u-footer .u-sheet-1 {
        min-height: 309px
    }

    .u-footer .u-layout-wrap-1 {
        margin-top: 130px;
        margin-bottom: 0px
    }

    .u-footer .u-layout-cell-1 {
        min-height: 123px;
        background-image: none
    }

    .u-footer .u-container-layout-1 {
        padding-right: 49.4737px
    }

    .u-footer .u-text-1 {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px
    }

    .u-footer .u-text-2 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px
    }

    .u-footer .u-layout-cell-2 {
        min-height: 123px;
        background-image: none
    }

    .u-footer .u-container-layout-2 {
        padding-right: 49.4737px
    }

    .u-footer .u-text-3 {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px
    }

    .u-footer .u-text-4 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px
    }

    .u-footer .u-layout-cell-3 {
        min-height: 123px;
        background-image: none
    }

    .u-footer .u-container-layout-3 {
        padding-right: 49.4737px
    }

    .u-footer .u-text-5 {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px
    }

    .u-footer .u-text-6 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px
    }

    .u-footer .u-layout-cell-4 {
        min-height: 123px;
        background-image: none
    }

    .u-footer .u-container-layout-4 {
        padding-right: 49.4737px
    }

    .u-footer .u-text-7 {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px
    }

    .u-footer .u-text-8 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px
    }

    .u-footer .u-social-icons-1 {
        white-space: nowrap;
        height: 19.125px;
        min-height: 16px;
        width: 106.5px;
        min-width: 94px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto
    }

    .u-footer .u-icon-1 {
        height: 100%
    }

    .u-footer .u-icon-2 {
        height: 100%
    }

    .u-footer .u-icon-3 {
        height: 100%
    }

    .u-footer .u-icon-4 {
        height: 100%
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .u-footer .u-sheet-1 {
        min-height: 309px
    }

    .u-footer .u-layout-wrap-1 {
        margin-top: 130px;
        margin-bottom: 0px
    }

    .u-footer .u-layout-cell-1 {
        min-height: 123px;
        background-image: none
    }

    .u-footer .u-container-layout-1 {
        padding-right: 37.8948px
    }

    .u-footer .u-text-1 {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px
    }

    .u-footer .u-text-2 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px
    }

    .u-footer .u-layout-cell-2 {
        min-height: 123px;
        background-image: none
    }

    .u-footer .u-container-layout-2 {
        padding-right: 37.8948px
    }

    .u-footer .u-text-3 {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px
    }

    .u-footer .u-text-4 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px
    }

    .u-footer .u-layout-cell-3 {
        min-height: 123px;
        background-image: none
    }

    .u-footer .u-container-layout-3 {
        padding-right: 37.8948px
    }

    .u-footer .u-text-5 {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px
    }

    .u-footer .u-text-6 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px
    }

    .u-footer .u-layout-cell-4 {
        min-height: 123px;
        background-image: none
    }

    .u-footer .u-container-layout-4 {
        padding-right: 37.8948px
    }

    .u-footer .u-text-7 {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px
    }

    .u-footer .u-text-8 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px
    }

    .u-footer .u-social-icons-1 {
        white-space: nowrap;
        height: 19.125px;
        min-height: 16px;
        width: 106.5px;
        min-width: 94px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto
    }

    .u-footer .u-icon-1 {
        height: 100%
    }

    .u-footer .u-icon-2 {
        height: 100%
    }

    .u-footer .u-icon-3 {
        height: 100%
    }

    .u-footer .u-icon-4 {
        height: 100%
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .u-footer .u-sheet-1 {
        min-height: 671px
    }

    .u-footer .u-layout-wrap-1 {
        width: 360px;
        margin-top: 120px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: 90px
    }

    .u-footer .u-layout-cell-1 {
        min-height: 123px;
        background-image: none
    }

    .u-footer .u-container-layout-1 {
        padding-right: 28.421px
    }

    .u-footer .u-text-1 {
        position: relative;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px
    }

    .u-footer .u-text-2 {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px
    }

    .u-footer .u-layout-cell-2 {
        min-height: 123px;
        background-image: none
    }

    .u-footer .u-container-layout-2 {
        padding-right: 28.421px
    }

    .u-footer .u-text-3 {
        position: relative;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px
    }

    .u-footer .u-text-4 {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px
    }

    .u-footer .u-layout-cell-3 {
        min-height: 123px;
        background-image: none
    }

    .u-footer .u-container-layout-3 {
        padding-right: 28.421px
    }

    .u-footer .u-text-5 {
        position: relative;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px
    }

    .u-footer .u-text-6 {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px
    }

    .u-footer .u-layout-cell-4 {
        min-height: 123px;
        background-image: none
    }

    .u-footer .u-container-layout-4 {
        padding-right: 28.421px
    }

    .u-footer .u-text-7 {
        position: relative;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px
    }

    .u-footer .u-text-8 {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px
    }

    .u-footer .u-social-icons-1 {
        white-space: nowrap;
        height: 19.125px;
        min-height: 16px;
        width: 106.5px;
        min-width: 94px;
        margin-top: 40px;
        margin-right: auto;
        margin-bottom: 30px;
        margin-left: 216.75px
    }

    .u-footer .u-icon-1 {
        height: 100%
    }

    .u-footer .u-icon-2 {
        height: 100%
    }

    .u-footer .u-icon-3 {
        height: 100%
    }

    .u-footer .u-icon-4 {
        height: 100%
    }
}

@media (max-width: 575px) {
    .u-footer .u-sheet-1 {
        min-height: 671px
    }

    .u-footer .u-layout-wrap-1 {
        margin-top: 120px;
        margin-bottom: 0px
    }

    .u-footer .u-layout-cell-1 {
        min-height: 123px;
        background-image: none
    }

    .u-footer .u-container-layout-1 {
        padding-right: 17.8948px
    }

    .u-footer .u-text-1 {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        position: relative
    }

    .u-footer .u-text-2 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        position: relative
    }

    .u-footer .u-layout-cell-2 {
        min-height: 123px;
        background-image: none
    }

    .u-footer .u-container-layout-2 {
        padding-right: 17.8948px
    }

    .u-footer .u-text-3 {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        position: relative
    }

    .u-footer .u-text-4 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        position: relative
    }

    .u-footer .u-layout-cell-3 {
        min-height: 123px;
        background-image: none
    }

    .u-footer .u-container-layout-3 {
        padding-right: 17.8948px
    }

    .u-footer .u-text-5 {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        position: relative
    }

    .u-footer .u-text-6 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        position: relative
    }

    .u-footer .u-layout-cell-4 {
        min-height: 123px;
        background-image: none
    }

    .u-footer .u-container-layout-4 {
        padding-right: 17.8948px
    }

    .u-footer .u-text-7 {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        position: relative
    }

    .u-footer .u-text-8 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        position: relative
    }

    .u-footer .u-social-icons-1 {
        white-space: nowrap;
        height: 19.125px;
        min-height: 16px;
        width: 106.5px;
        min-width: 94px;
        margin-top: 40px;
        margin-bottom: 30px;
        margin-left: 216.75px;
        margin-right: auto
    }

    .u-footer .u-icon-1 {
        height: 100%
    }

    .u-footer .u-icon-2 {
        height: 100%
    }

    .u-footer .u-icon-3 {
        height: 100%
    }

    .u-footer .u-icon-4 {
        height: 100%
    }
}
