@{
    Layout = null;
}

<div class="row">
    <div class="container">


        <div class="col-lg-12 p-0 m-0">

            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h2 class="text-dark text mb-5 mt-2">  ADANA             </h2>

                <hr style=" background-color:black; height:0.5px; " />

                <p>
                    It is the province of Turkey with the 6th largest population
                    (2,220,125 people in 2018). It is an important center of attraction
                    with its distinguished educational institutions and social opportunities.
                    It is Turkey's 6th largest city in terms of plant production value.
                    According to the GDP data of 2014, it is in the 8th place with a share of 2.0%.
                </p>


                <p>

                    Adana; It has a wide range of production networks from electronic cards to buses,
                    from ship construction to textile products. Ranking 5th after İstanbul, İzmir,
                    Ankara, and Konya among the
                    provinces with the most diversity in the production of exported goods,
                    Adana is also among the provinces with significant development potential
                    according to the reports of the Ministry of Economy.
                </p>

                <p>


                    It is located in the center of Çukurova, which is one of the 3 most fertile plains in the world,
                    covering the provinces of Adana, Mersin, Osmaniye and Hatay, home to approximately 6.5 million people.
                </p>


                <p>


                    These lands, which were called " Even if you plant a stone, it will grow. " in the old saying,
                    have hosted many civilizations from history to this day; It has also been one of the first developing regions of our country's industry.
                </p>

                <p>
                    Ceyhan is an important center where 100 million tons of crude oil pass annually.
                    With the decision of the Council of Ministers, Ceyhan Energy Specialized Industrial
                    Zone was established in 2007 and Adana Chamber of Industry was assigned to its operation.
                    However, despite the long period that has passed (almost 10 years), the expropriation
                    works in the region have unfortunately not been completed. It will be an important
                    driving force not only for Adana but also for our region and our country if it becomes
                    operational. As the Chamber of Industry, all bureaucratic procedures are strictly
                    followed in order to complete the project.


                </p>

                <p>

                    Adana's economy, which is located at the intersection of three continents,
                    is not at the point that any Adana citizen wishes for today. Adana is aware
                    of its potential and carries out important projects for the future. It is an
                    important transit point in accessing European, Middle Eastern and African markets.
                    In the assessment made by the International Competition Research Board, taking into
                    account sea, air, land, and railway transportation, it was ranked 5th in Turkey's Ease
                    of Transportation Index.
                </p>


                <p>

                    Adana is an important production center that can be an alternative to Marmara, which
                    is very troubled in terms of new investment location and costs. by activating the
                    potential and with the right strategies Adana has the potential to become the most
                    important production and attraction center of our country with its geographical
                    location, industrial culture, education, transportation infrastructure, and social
                    life standard it has,
                </p>

                <p>
                    The failure to finalize the ongoing expropriation works for the activation of the
                    Ceyhan Energy Specialized Industrial Zone, which is of great importance not only
                    for Adana but also for our region and our country, and the inability to put the
                    region into operation is among the most important problems of our province and region.
                </p>



                <p>

                    There are two important projects in our region, first Ceyhan Energy Industry Specialization
                    and Akkuyu Nuclear Power Plant, which will play a role as an important driving force in the
                    development of the industry. Ceyhan Energy Industrial Zone will be an important center of
                    attraction, especially in terms of petrochemical investments. In our region, which is the
                    center of production and attraction; Some of the projects that will be implemented in the near future:

                </p>


                <p>
                    <li> Ceyhan Energy Specialized Industrial Zone</li>
                    <li>   OSB of Chemistry                </li>
                    <li>  Ceyhan Organized Industrial Zone      </li>
                    <li> Agricultural Specialization, Food, and Aquaculture Organized Industrial Zones  </li>
                    <li> Industrial Sites (Textiles, Shoemakers, Confectioners)    </li>
                    <li>Akkuyu Nuclear Power Plant Project       </li>
                    <li> Chemical Production Technologies Center (Chemistry Valley Project  </li>
                    <li> Emba Energy Thermal Power Plant Project   </li>

                </p>



                <p>

                    While the efforts to put the Ceyhan Energy Specialization Industry Specialization Zone into operation,
                    which is our top priority, continue, its announcement as one of the  <strong>5 Mega Industrial </strong>Zones made by our
                    President made us happy and increased our hopes and expectations for the region. Mega-industrial zones,
                    which will make a leap in the industry, will play an important and key role in the transition to a large-scale economy.
                    It will host large-scale domestic and foreign investments. In the coming period, our province will host important
                    investments in the field of petrochemistry. As a region, we look forward to the realization of major projects such
                    as the Akkuyu Nuclear Power Plant alongside the Ceyhan Energy Industry Specialization Zone.


                </p>





            </div>
        </div>
    </div>
</div>
