
@{
    Layout = null;
}



<div class="row">
    <div class="container">
        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>
                <hr />
                
                    <h5>
                        TECHNICAL SUPPORT TRAINING ACTIVITY – INSTITUTIONALIZATION, DATA ANALYSIS, AND STRATEGIC PROJECT MANAGEMENT TRAINING – FOR ADASO STAFF (1.11.2015 -31.12.2015)
                    </h5>
               
                <p>
                    <b>Purpose:</b>Within the scope of the Technical Assistance Program, training are given to increase the competence and technical capacity of the Adana Chamber of Industry Industrial Services and Research Unit team. As a result of the training;
                <p>
                    - Economic modeling and projection studies
                    - Sectoral analysis and reporting
                    - Market research, marketing plan preparation
                    - Statistical research and database management
                    - It is aimed to increase the competencies in the studies of improving the Institutional Capacity.

                </p>
                </p>

                <p>

                    <b>Granted Institution:</b>  Çukurova Development Agency
                    <br />
                    <b>Grant support Rate:</b>100%
                    <br />
                    <b>Stakeholders:</b>No Partner

                </p>

            </div>
        </div>
    </div>
</div>
