
@{
    Layout = null;
}

<div class="row">
    <div class="container">


        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>

                <hr />

                <h4>Consultation service regarding the local automobile capabilities project in Adana Governorate (29.12.2017 - 18.01.2018)</h4>

                <p><strong>Project Duration:</strong> 20 days as of December 29, 2017 - (completed)</p>

                <p><strong>Project partners:</strong> Adana Chamber of Industry, Çukurova Development Agency</p>

                <p>
                    <strong>Project Summary:</strong> Through the works carried out within the project, carried out in partnership with
                    Adana Hacı Sabancı Industrial Organization, Adana Municipality, and Adana Chamber of Commerce, it is expected to make significant contributions to the economy and industry of Adana, the region and Turkey.
                    Within the support that was provided to the agency, consulting services were received regarding the transformation of the leading automotive industry in Adana in terms of the sector to the domestic auto industry.
                    With this service, the first sectoral analysis of the local auto industry was conducted in Adana;  Awareness of local auto manufacturing has been raised in the automotive sector in Adana.
                    The project was aimed at increasing the volume of exports and revenues as the automotive sector companies in Adana, which focus on the manufacture of domestic cars, moved to produce high-tech products;  This process also paved the way for new cooperation between public institutions and organizations across the province.  As a result of the project, it was intended to further promote Adana in the country and on the international scene, with the transition to the local automobile industry in Adana.  As a result of the prominence of the province in which it is located within the range of marketing and branding activities, all companies operating in Adana were able to indirectly benefit from the increase in the knowledge of Adana.  This situation has had an increasing impact on companies' sales, exports, and turnover due to the positive image of Adana.  It has contributed to increasing new investments and job opportunities across the province.  It also aimed to increase production, sales, investment, and employment throughout Adana and to increase the standard of living of the people of the province.
                </p>

            </div>
        </div>
    </div>
</div>
