
@{
    Layout = null;
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">


                <ol class="breadcrumb">
                    <li>
                        <a href="/">
                            <i class="fa fa-home"></i>HOME
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            PROJECTS
                        </a>
                    </li>

                </ol>                 <div class="jumbotron-fluid ts-grid-box">
                    <h4 class="display-4">PROJECTS</h4>
                    <div class="container">
                        <div class="entry-header">
                        </div>

                    </div>

                    <div class="content-wrapper">
                        <div class="clearfix"></div><hr>
                        &nbsp;
                    </div>

                    <div class="">



                        <div id="example">


                            <div class="demo-section k-content wide">
                                <div class="row">
                                    <div id="listView" data-role="listView" data-layout="template" data-model="dataSource" data-zoom="true" data-reload="true" class="k-widget k-listview k-listview-bordered" role="listbox">
                                        <div class="k-listview-content">

                                            <div class="d-flex bd-highlight" data-uid="d33962b4-a512-4cef-a814-5c45e2c9dde9" role="option" aria-selected="false">
                                                <div class="p-2 w-100 bd-highlight  mt-2">ADASO-GIZ PROJECT</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=ADASOGIZProject"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr data-uid="75e9d35b-6cb7-4dbb-9171-5bc91339ef24" role="option" aria-selected="false">


                                            <div class="d-flex bd-highlight" data-uid="91091a22-c8c2-4b2f-bb5d-c7f9f298461c" role="option" aria-selected="false">
                                                <div class="p-2 w-100 bd-highlight  mt-2">ADASO-ILO PROJECT</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=Addasso_ILO"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr data-uid="22345080-f3c5-4315-b5e5-41d9eff0d156" role="option" aria-selected="false">


                                            <div class="d-flex bd-highlight" data-uid="7e95cc20-997d-4e45-b1b2-c7ba170dd4dc" role="option" aria-selected="false">
                                                <div class="p-2 w-100 bd-highlight  mt-2">ADASO1- SUPPORT FEASIBILITY REPORT</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=ADASO1_Support"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr data-uid="95f43fcf-931d-4b72-8093-f85f89473e8a" role="option" aria-selected="false">


                                            <div class="d-flex bd-highlight" data-uid="1583408a-acae-416d-bbf0-83d4c821192f" role="option" aria-selected="false">
                                                <div class="p-2 w-100 bd-highlight  mt-2">ADANA CENTER FOR EFFICIENCY AND DIGITIZATION (YDDM) PROJECT (MODEL FACTORY + DESIGN WORKSHOPS)</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=AdanaCenterForEfficiency"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr data-uid="6a1d702f-b1b6-450e-9a9a-e599b924eb90" role="option" aria-selected="false">


                                            <div class="d-flex bd-highlight" data-uid="efb32b7c-4b11-4ea5-8d4b-8b92d9cce466" role="option" aria-selected="false">
                                                <div class="p-2 w-100 bd-highlight  mt-2">THE PROJECT OF ESTABLISHING AND DEVELOPING THE EXPORT MARKET FOR THE ADVANCED METAL TECHNOLOGIES INDUSTRY IN ADANA - 2</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=TheProjectofEstablishing"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr data-uid="dad73584-92c4-40bf-9d26-22085c99eb2b" role="option" aria-selected="false">


                                            <div class="d-flex bd-highlight" data-uid="53ae1f98-66cf-4876-a836-a06a49f0e774" role="option" aria-selected="false">
                                                <div class="p-2 w-100 bd-highlight  mt-2">GENERATING ANALYTICAL REPORTS FOR SECTORS WITH HIGH EXPORT POTENTIAL AND STRATEGIC PRODUCTS ACCORDING TO FOREIGN TRADE IN ADANA</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=GeneratingAnalytical"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr data-uid="90d3cdd3-70e5-4e26-b30b-a72c42b0946d" role="option" aria-selected="false">


                                            <div class="d-flex bd-highlight" data-uid="dddc360a-9ba8-486e-af42-855913d9967d" role="option" aria-selected="false">
                                                <div class="p-2 w-100 bd-highlight  mt-2">THE PROJECT OF ESTABLISHING AND DEVELOPING THE EXPORT MARKET FOR THE ADVANCED METAL TECHNOLOGY INDUSTRY IN ADANA - 1</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=TheProjectOfExportMarket"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr data-uid="cc1f36d0-c916-46c3-bfbc-5460a9006f2d" role="option" aria-selected="false">


                                            <div class="d-flex bd-highlight" data-uid="594c3960-7186-4f23-8056-fedc9e1a0a60" role="option" aria-selected="false">
                                                <div class="p-2 w-100 bd-highlight  mt-2">THE PROJECT OF ESTABLISHING AND DEVELOPING THE EXPORT MARKET FOR THE FOOD INDUSTRIES SECTOR IN ADANA</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=TheProjectMarket3"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr data-uid="435f664c-3388-4ecc-b16c-008334bc4b2e" role="option" aria-selected="false">


                                            <div class="d-flex bd-highlight" data-uid="8215803b-292b-4798-ae33-3a8ad7713685" role="option" aria-selected="false">
                                                <div class="p-2 w-100 bd-highlight  mt-2">THE PROJECT OF ESTABLISHING AND DEVELOPING THE EXPORT MARKET FOR THE FOOD INDUSTRIES SECTOR IN ADANA</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=TheProjectMarket2"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr data-uid="28df3d31-8003-4ce8-9026-041a1f236a8c" role="option" aria-selected="false">


                                            <div class="d-flex bd-highlight" data-uid="4786329d-58b9-4f2b-906d-de480c5c1901" role="option" aria-selected="false">
                                                <div class="p-2 w-100 bd-highlight  mt-2">THE PROJECT OF DEVELOPING COOPERATION BETWEEN UNIVERSITIES AND THE PRIVATE SECTOR AND ESTABLISHING BASIS FOR LEAN MANUFACTURING IN COMPANIES</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=TheProjectOfDeveloping"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr data-uid="d43bc49c-9c6c-4dab-a1d8-73db0dbd6543" role="option" aria-selected="false">


                                            <div class="d-flex bd-highlight" data-uid="4ddf8a1f-fea7-4d40-9eab-17e99717bb4e" role="option" aria-selected="false">
                                                <div class="p-2 w-100 bd-highlight  mt-2">THE PROJECT OF ESTABLISHING AND DEVELOPING PLASTIC, PACKAGING AND RUBBER EXPORT MARKET SECTOR IN ADANA</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=TheProjectMarket"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr data-uid="6d23f94c-d94e-4396-83f6-44f4505dd42f" role="option" aria-selected="false">


                                            <div class="d-flex bd-highlight" data-uid="8c826a06-c5b3-46d0-961a-63841f61f7bc" role="option" aria-selected="false">
                                                <div class="p-2 w-100 bd-highlight  mt-2">“IMPROVING THE PARTICIPATION OF SYRIANS UNDER TEMPORARY PROTECTION IN THE LABOR MARKET AND HOST COMMUNITIES IN TURKEY” PROJECT</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=ImprovingTheParticipation"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr data-uid="bb78e7a3-fbdb-435d-b44a-c79b28b82d96" role="option" aria-selected="false">


                                            <div class="d-flex bd-highlight">
                                                <div class="p-2 w-100 bd-highlight  mt-2">CONSULTATION SERVICE REGARDING THE LOCAL AUTOMOBILE CAPABILITIES PROJECT IN ADANA GOVERNORATE</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=ConsultationServiceRegarding"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr>


                                            <div class="d-flex bd-highlight">
                                                <div class="p-2 w-100 bd-highlight  mt-2">‘’MAHIR ELLER’’</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=MahirEller1"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr>


                                            <div class="d-flex bd-highlight">
                                                <div class="p-2 w-100 bd-highlight  mt-2">WE TAKE BUSINESSES STEPS AT THE DIGITAL WORLD TOGETHER IN ADANA PROJECT</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=WeTakeBussines"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr>


                                            <div class="d-flex bd-highlight">
                                                <div class="p-2 w-100 bd-highlight  mt-2">ANALYSIS OF THE CURRENT STATUS OF THE ADANA INDUSTRY, DETECTION OF PROBLEMS, AND DEVELOPMENT AREAS</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=AnalysisTheCurrent"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr>


                                            <div class="d-flex bd-highlight">
                                                <div class="p-2 w-100 bd-highlight  mt-2">ADANA FURNITURE MANUFACTURING SECTOR EXPORT MARKET CREATION AND DEVELOPMENT UR-GE PROJECT</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=AdanaFurnitureManufacturing"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr>


                                            <div class="d-flex bd-highlight">
                                                <div class="p-2 w-100 bd-highlight  mt-2">ADANA FURNITURE INDUSTRY EXPORT MARKET CREATION AND DEVELOPMENT PROJECT</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=AdanaFurnitureIndustry"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>  @*sayfa hatalı*@

                                            <hr>


                                            <div class="d-flex bd-highlight">
                                                <div class="p-2 w-100 bd-highlight  mt-2">" CURRENT STATUS ANALYSIS OF ADANA INDUSTRY, DETECTION OF PROBLEMS AND DEVELOPMENT AREAS"</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=CurrentStusAnalysis"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div> @*sayfa hatalı*@

                                            <hr>


                                            <div class="d-flex bd-highlight">
                                                <div class="p-2 w-100 bd-highlight  mt-2">ADANA MACHINE MANUFACTURING INDUSTRY DEVELOPMENT OF INTERNATIONAL COMPETITION (UR-GE) SUPPORT PROJECT</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=AdanaMachineManufacturing"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr>


                                            <div class="d-flex bd-highlight">
                                                <div class="p-2 w-100 bd-highlight  mt-2">TECHNICAL SUPPORT TRAINING ACTIVITY – INSTITUTIONALIZATION, DATA ANALYSIS, AND STRATEGIC PROJECT MANAGEMENT TRAINING – FOR ADASO STAFF</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=TechincalSupportTrainning"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr>


                                            <div class="d-flex bd-highlight">
                                                <div class="p-2 w-100 bd-highlight  mt-2">IMPROVEMENT OF CORPORATE EFFICIENCY AND DATA ANALYSIS SKILLS</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=ImprovementOfCorporate"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>  @*sayfa hatalı*@

                                            <hr>


                                            <div class="d-flex bd-highlight">
                                                <div class="p-2 w-100 bd-highlight  mt-2">PROJECT FOR CREATING FOREIGN TRADE ANALYSIS REPORTS ON ADANA'S SECTORS WITH HIGH EXPORT POTENTIAL AND STRATEGIC PRODUCTS</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=ProjectForCreatingForeign"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr>


                                            <div class="d-flex bd-highlight">
                                                <div class="p-2 w-100 bd-highlight  mt-2">CREATING FOREIGN TRADE ANALYSIS REPORTS ON ADANA'S SECTORS WITH HIGH EXPORT POTENTIAL AND STRATEGIC PRODUCTS</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=CreatingForeignTrade"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr>


                                            <div class="d-flex bd-highlight">
                                                <div class="p-2 w-100 bd-highlight  mt-2">TURKEY'S ENERGY BASE CEYHAN ENERGY SPECIALIZED INDUSTRIAL ZONE INVESTOR GUIDE</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=Turkey_Energy_Base"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr>


                                            <div class="d-flex bd-highlight">
                                                <div class="p-2 w-100 bd-highlight  mt-2">ONLINE SERVICE TO ADASO MEMBERS PROJECT</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=OnlineService2"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr>


                                            <div class="d-flex bd-highlight">
                                                <div class="p-2 w-100 bd-highlight  mt-2">ONLINE SERVICE TO ADASO MEMBERS PROJECT - IMPROVING BUSINESS CONDITIONS AND QUALITY OF LIFE SMALL-SCALE INFRASTRUCTURE FINANCIAL SUPPORT PROGRAM</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=OnlineService"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr>


                                            <div class="d-flex bd-highlight">
                                                <div class="p-2 w-100 bd-highlight  mt-2">THE FIRST AND ONLY EDUCATION AND CAREER CENTER OF THE REGION WITH CONTINUOUS EDUCATION AND CAREER CONSULTING SERVICE FOR THE IMMIGRANT POPULATION OF 100 PEOPLE</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=EducationAndCareer"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>

                                            <hr>


                                            <div class="d-flex bd-highlight">
                                                <div class="p-2 w-100 bd-highlight  mt-2">INDUSTRIAL SYMBIOSIS AND CLEAN PRODUCTION (Sustainable Production) R&D PROJECT MARKET</div>
                                                <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" href="?link=IndustirialSymbiosis"><i class="fa fa-list" style="color:white !important"></i></a></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>




                            <script id="template" type="text/x-kendo-template">

                                <div class="d-flex bd-highlight">
                                <div class="p-2 w-100 bd-highlight  mt-2">#:baslik#</div>
                                  <div class="p-2 flex-shrink-1 bd-highlight"><a class="btn btn-link btn-sm" data-mode='ProjeDetayModal' href='#:id#'  ><i class="fa fa-list" style='color:white !important'></i></a></div>
                                </div>

                                 <hr>
                            </script>


                            <script>

                                $("body").on("click", "a[data-mode]", function () {
                                    var mode = $(this).data("mode");
                                    var formData = new FormData();
                                    var buton = $(this);

                                    if (mode === "KendoTemplateLink") {
                                        var id_ = $(buton).data("id");
                                        var baslik_ = $(buton).data("baslik");
                                        location.href = "/Tebligler/" + toSeoUrl(baslik_) + "/" + id_;
                                    }
                                });

                                var search_ = $('#lisViewSearch').val();
                                var selectTip_ = $('#selectProjeTipleri').val();

                                if (selectTip_ == 0 && search_ == "") {
                                    listViewFiltering(search_, selectTip_)
                                }

                                //Proje tİplerini seçer
                                $('#selectProjeTipleri').on('change', function () {

                                    var thisSelectTip_ = $(this).val();

                                    if (thisSelectTip_ == 0) {
                                        $('#listView').empty();
                                        listViewFiltering($('#lisViewSearch').val(), $('#selectMeslekGruplari').val());
                                    }

                                    if (thisSelectTip_ != '0' && search_ == '') {

                                        $('#listView').empty();
                                        listViewFiltering($('#lisViewSearch').val(), $('#selectMeslekGruplari').val());

                                    }

                                });

                                //Proje tİplerini seçer


                                $('#lisViewSearch').on('keyup', function () {

                                    $('#listView').empty();
                                    listViewFiltering();

                                });

                                function listViewFiltering() {

                                    var dataSource = new kendo.data.DataSource({
                                        transport: {
                                            read: {
                                                url: "/Admin/Projeler/ProjelerJson",
                                                processData: false,
                                                dataType: "json"

                                            },
                                            parameterMap: function (options, operation) {
                                                var urlColumnFilter = '';
                                                urlColumnFilter += "&kendotable.filter[0]._field=Durum";
                                                urlColumnFilter += "&kendotable.filter[0]._operator=contains";
                                                urlColumnFilter += "&kendotable.filter[0]._value=" + $('#selectProjeTipleri').val();
                                                urlColumnFilter += "&kendotable.filter[0]._ignoreCase=true";
                                                urlColumnFilter += "&kendotable.filter[0]._logic=and";
                                                urlColumnFilter += "&kendotable.Baslik=" + $('#lisViewSearch').val();
                                                urlColumnFilter += "&kendotable.sort[0]._field=baslangicTarihi";
                                                urlColumnFilter += "&kendotable.sort[0]._dir=desc";
                                                return "kendotable.page=" + options.page + "&kendotable.pageSize=" + options.pageSize + "&kendotable.skip=" + options.skip + "&kendotable.take=" + options.take + urlColumnFilter;
                                            }
                                        },
                                        pageSize: 24,
                                        page: 1,
                                        serverPaging: true,
                                        serverFiltering: false,
                                        schema: {
                                            data: "data",
                                            total: "total_length"
                                        }
                                    });

                                    if (search_ != "")
                                        $('#listView').empty();

                                    $("#listView").kendoListView({
                                        dataSource: dataSource,
                                        dataReload: true,
                                        dataLayout: "template",
                                        dataModel: "dataSource",
                                        dataZoom: "true",
                                        template: kendo.template($("#template").html())
                                    });

                                    $("#pager").kendoPager({
                                        autoBind: false,
                                        dataSource: dataSource
                                    });

                                }

                            </script>


                            <style>
                                #listView {
                                    padding: 5px 5px;
                                    margin-bottom: -1px;
                                    width: 100% !important;
                                }

                                .p-content_ {
                                    margin: 15px !important;
                                }

                                .k-listview-content {
                                    overflow: hidden;
                                }


                                .k-listview:after {
                                    content: ".";
                                    display: block;
                                    height: 0;
                                    clear: both;
                                    visibility: hidden;
                                }
                            </style>
                        </div>

                    </div>
                </div>

                <!-- post content area-->
                <!-- post navigation end-->
            </div>


        </div>
    </div>

</section>
