
@{
    Layout = null;
}

<div class="row">
    <div class="container">
        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>
                <hr />
               
                    <h5>
                        PROJECT FOR CREATING FOREIGN TRADE ANALYSIS REPORTS ON ADANA'S SECTORS WITH HIGH EXPORT POTENTIAL AND STRATEGIC PRODUCTS (3.07.2015 - 3.07.2016)
                    </h5>
              
                <p>
                    The specific aim of the project is to increase the exports of the province in order to contribute to the socio-economic development of Adana province, in this sense, the sectors with a high export potential of the region have been identified; strategic products in the relevant sectors have been identified, international market research and analysis have been made for these products; target countries with high export potential for these products have been identified; Company-specific customer and competitor analysis was carried out in the target countries (paid websites requiring membership), the networking of the companies was improved by sharing the compiled information with the relevant local companies, and Adana's total exports were increased. In order to ensure the sustainability of the experiences gained within the scope of the project, preliminary preparations regarding the establishment of the basic infrastructure of the Foreign Trade Intelligence Unit, which can produce information that will increase the global competitiveness of Adana and the Region, have been completed within the body of Adana Chamber of Industry.
                </p>



            </div>
        </div>
    </div>
</div>

