
@{
    Layout = null;
}

<div class="row">
    <div class="container">
        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>
                <hr />
                <b>
                    <h5>
                        ADANA MACHINE MANUFACTURING INDUSTRY DEVELOPMENT OF INTERNATIONAL COMPETITION (UR-GE) SUPPORT PROJECT (1.05.2016 - 19.08.2016)
                    </h5>
                </b>
                <p>
                    <b>Purpose:</b> To increase the international competitiveness of the Adana machinery sector, to increase the export market shares of the enterprises operating in the machinery sector, and to contribute to their access to new markets. With the UR-GE Project, the obstacles to the export of companies operating in the field of machinery manufacturing registered with the Adana Chamber of Industry will be analyzed; With the clustering approach, a common vision, common learning areas, and common markets will be determined, and project activities will be implemented in order to make permanent and long-term steps towards exports.


                </p>

                <p>

                    <b>Granted Institution:</b>  Ministry of Economy
                    <br />
                    <b>Grant support Amount:</b>100%
                    <br />
                    <b>Stakeholders:</b>No Partner
                    <br />
                    <b>Date</b> May 2015 -Continue
                    <br />
                    <b>Status:</b>Ongoing (Needs Analysis has been completed; trainings have been received; consultancy service is being researched and studies are being carried out on foreign market targets)

                </p>

            </div>
        </div>
    </div>
</div>


