
@{
    Layout = null;
}

<div class="container">
	<div class="row">
		<div class="col-12">

		
<div class="jumbotron-fluid ts-grid-box">
	<h4 class="display-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dues Transactions</font></font></h4>
	

	<div class="content-wrapper">
		<div class="clearfix"></div><hr>
		<h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Accounting Activities</font></font></h1>

		<p style="margin-left:0; margin-right:0; text-align:start"><img alt="Dues" src="http://www.iso.org.tr/sites/1/upload/images/b/aidat-4717.jpg" style="display:block; float:right; height:105px; margin:5px 10px; vertical-align:top; width:350px"><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Members are obliged to pay the registration fee and annual dues and additional dues for each year during registration to the chamber or commodity exchange.</font></font></span></span></p>

		<h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Member Fee Accrual and Collection</font></font></h2>

		<p style="margin-left:0; margin-right:0; text-align:start"><span style="font-family:&quot;Segoe UI&quot;"><span style="font-size:12pt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">For 2022, the degrees and tariffs determined for the annual fee, and the 2021 Income and Corporate Tax returns will be taken as the basis for the additional dues.</font></font></span></span></p>

		<h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Annual Dues</font></font></h3>

		<ul style="margin-left:20px; margin-right:0">
			<li><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The fee that the member is obliged to pay during registration to the chamber or stock exchange is called the registration fee and the annual fee to be paid for each year.</font></font></span></span></li>
			<li><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">No annual fee is charged for the year the registration fee is paid. </font><font style="vertical-align: inherit;">However, in case of re-registration of those who leave the chamber or commodity exchange by deregistering, a re-registration fee is charged even within the same year.</font></font></span></span></li>
			<li><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Members registered to more than one chamber pay half of the registration fee and annual fee determined for them, provided that they document this situation.</font></font></span></span></li>
			<li><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Members registered in branches pay half of the registration fee and annual fee determined in this article.</font></font></span></span></li>
			<li><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Annual dues are calculated over the capital and equity totals of the companies.</font></font></span></span></li>
			<li><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Registration fee and annual fee amounts are determined according to the degrees to be determined and according to the tariffs.</font></font></span></span></li>
		</ul>

		<div><span style="color:#535353; font-family:&quot;Segoe UI&quot;"><span style="font-size:16px"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></span></span></div>

		<div><strong><span style="font-family:&quot;Arial Nova&quot;,sans-serif; font-size:14pt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;THE YEAR 2022&nbsp; </font></font></span></strong></div>

		<div><strong><span style="font-family:&quot;Arial Nova&quot;,sans-serif; font-size:14pt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ADANA CHAMBER OF INDUSTRY</font></font></span></strong></div>

		<div><strong><span style="font-family:&quot;Arial Nova&quot;,sans-serif; font-size:14pt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; REGISTRATION FEE AND ANNUAL FEE TARIFF</font></font></span></strong></div>

		<div style="text-align:left">
			<div style="text-align:center">
				<p style="margin-left:.000133333px; margin-right:0"><strong><span style="font-family:&quot;Arial Nova&quot;,sans-serif; font-size:11pt">&nbsp;</span></strong></p>

				<table border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; border:none; color:#000000; font-family:&quot;Times New Roman&quot;,serif; font-size:13.3333px; margin:0px 0px 0px 23.6px; width:599px">
					<tbody>
						<tr>
							<td style="background-color:#d9e2f3; border-color:black; border-style:solid; border-width:1pt; height:31.2pt; width:70.95pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><strong><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Degree</font></font></span></strong></p>
							</td>
							<td style="background-color:#d9e2f3; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:1pt solid windowtext; height:31.2pt; width:142pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><strong><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Registered Capital</font></font></span></strong></p>

								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><strong><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(TL)</font></font></span></strong></p>
							</td>
							<td style="background-color:#d9e2f3; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:1pt solid windowtext; height:31.2pt; width:122.9pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><strong><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Registration Fee (*)</font></font></span></strong></p>

								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><strong><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(TL)</font></font></span></strong></p>
							</td>
							<td style="background-color:#d9e2f3; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:1pt solid windowtext; height:31.2pt; width:113.25pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><strong><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Annual Dues</font></font></span></strong></p>

								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><strong><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fee (TL)</font></font></span></strong></p>
							</td>
						</tr>
						<tr>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:1pt solid windowtext; border-right:1pt solid windowtext; border-top:none; height:31.2pt; width:70.95pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">EXTRAORDINARY</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:31.2pt; width:142pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10.000.000 TL and Over</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:31.2pt; width:122.9pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2,490</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:31.2pt; width:113.25pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2,490</font></font></span></p>
							</td>
						</tr>
						<tr>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:1pt solid windowtext; border-right:1pt solid windowtext; border-top:none; height:28.9pt; width:70.95pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">GRADE 1</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:28.9pt; width:142pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5,000,000 TL-9,999,999 TL</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:28.9pt; width:122.9pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2.240</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:28.9pt; width:113.25pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2.240</font></font></span></p>
							</td>
						</tr>
						<tr>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:1pt solid windowtext; border-right:1pt solid windowtext; border-top:none; height:28.25pt; width:70.95pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2 DEGREES</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:28.25pt; width:142pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">100.000 TL-4.999,999TL</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:28.25pt; width:122.9pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1,960</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:28.25pt; width:113.25pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1,960</font></font></span></p>
							</td>
						</tr>
						<tr>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:1pt solid windowtext; border-right:1pt solid windowtext; border-top:none; height:28.25pt; width:70.95pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">GRADE 3</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:28.25pt; width:142pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">50,000 TL-99,999 TL</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:28.25pt; width:122.9pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1,800</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:28.25pt; width:113.25pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1,800</font></font></span></p>
							</td>
						</tr>
						<tr>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:1pt solid windowtext; border-right:1pt solid windowtext; border-top:none; height:28.25pt; width:70.95pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">GRADE 4</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:28.25pt; width:142pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">0 TL-49.999 TL</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:28.25pt; width:122.9pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1,600</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:28.25pt; width:113.25pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1,600</font></font></span></p>
							</td>
						</tr>
						<tr>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:1pt solid windowtext; border-right:1pt solid windowtext; border-top:none; height:27.85pt; width:70.95pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5 ° C</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:27.85pt; width:142pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Newly Established Companies</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:27.85pt; width:122.9pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">751.00</font></font></span></p>
							</td>
							<td style="background-color:white; border-bottom:1pt solid windowtext; border-left:none; border-right:1pt solid windowtext; border-top:none; height:27.85pt; width:113.25pt">
								<p style="margin-left:.000133333px; margin-right:0; text-align:center"><span style="font-family:&quot;Arial Nova&quot;,sans-serif"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">First Year Not Taken</font></font></span></p>
							</td>
						</tr>
					</tbody>
				</table>
				<br>
				&nbsp;
			</div>
		</div>

		<p>&nbsp;</p>

		<h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Additional Dues</font></font></h3>

		<ul style="margin-left:20px; margin-right:0">
			<li><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chambers for each year; </font><font style="vertical-align: inherit;">the total of commercial earnings shown in the income tax returns of natural person merchants and industrialists; </font><font style="vertical-align: inherit;">On the other hand, an additional fee of five per thousand is collected over the commercial balance sheet profit shown in the corporate tax returns of legal entity merchants and industrialists. </font><font style="vertical-align: inherit;">In case the declarations are not submitted by the member or cannot be obtained from the tax office, the additional dues of the previous year are temporarily accrued in the same way, provided that it is not less than three times the annual fee ceiling.</font></font></span></span></li>
			<li><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Losing members do not pay additional dues for that year.</font></font></span></span></li>
			<li><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Additional dues of those registered to more than one chamber are paid by the member by being equally distributed to the relevant chambers. </font><font style="vertical-align: inherit;">In this case, the member must document that he is a member of more than one chamber.</font></font></span></span></li>
			<li><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Members registered to the branches pay half of the additional fee determined in this article.</font></font></span></span></li>
		</ul>

		<p style="margin-left:0; margin-right:0; text-align:start"><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In accordance with the Law No. 6183 on the Collection of Public Receivables, a daily late fee is accrued for the registration fee not paid on time, annual and additional dues.</font></font></strong></span></span></p>

		<p style="margin-left:0; margin-right:0; text-align:start"><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Annual dues and additional dues&nbsp; </font><font style="vertical-align: inherit;">&nbsp;are collected in two equal installments in </font></font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">June</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;and&nbsp; </font></font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">October .</font></font></strong><font style="vertical-align: inherit;"></font></span></span></p>

		<h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bank Branches to Deposit Your Fees and Other Payments</font></font></h2>

		<ul style="margin-left:20px; margin-right:0">
			<li><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Make sure to print your ADASO ROOM REGISTRY NUMBER and TITLE for money transfers and EFTs to be sent by bank.</font></font></span></span></li>
			<li><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Our room's cashier</font></font></span></span></li>
			<li><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Garanti Bank Adana Branch TR38 0006 2000 0010 0006 2980 48 IBAN no.</font></font></span></span></li>
			<li><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Isbank Adana Branch TR73 0006 4000 0016 0002 9941 98 IBAN no.</font></font></span></span></li>
			<li><span style="font-size:12pt"><span style="font-family:&quot;Segoe UI&quot;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Akbank Küçüksaat Branch contribution account with IBAN number TR57 0004 6001 0488 8000 0380 49</font></font></span></span></li>
		</ul>

		<p style="margin-left:0; margin-right:0; text-align:start">&nbsp;</p>

		<p>&nbsp;</p>

		<p>&nbsp;</p>

		<p>&nbsp;</p>

	</div>

	<div class="">
	</div>
</div>
		</div>
	</div>
</div>