
@{
    Layout = null;
}

<div class="row">
    <div class="container">


        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>

                <hr />

                <h4>ADASO1- Support Feasibility Report (31.05.2019 - 4.11.2020)</h4>

                <p><strong>Project Duration:</strong> 9 months as of May 31 - Ongoing</p>

                <p><strong>Project budget:</strong> (100% local development / employment) 200.000.00 TL</p>

                <p><strong>Project partners:</strong> Adana Chamber of Industry, Çukurova Development Agency</p>

                <p>
                    <strong>Project Summary:</strong> Adana Chamber of Industry (ADASO) acquired the 12,000 square meter land owned by Adana City Municipality in March 2019 with the aim of establishing an “Industrial Campus”.  The land in question is located in the middle of more than 10 small industrial zones in Adana, where there are approximately 2,000 small and medium-sized enterprises and employs nearly 40,000 people.  Facilities and structures will be established within the industrial campus, which will increase the competitiveness of industrialists in general, solve the problem of qualified personnel, contribute to the production and development of high-value products in terms of design, and contribute to their transformation into innovation-oriented enterprises.  It is envisaged that the industrial campus will consist of different units operating in an overall structure and that these units will operate in such a way as to create synergy with each other.  In this context, in the first stage within the industrial campus;  will be created <br />
                    - SME Competence Center and Digital Transformation, - Design Workshops (Industrial Design, Furniture Design, Textile Design) - Innovation Center, - Vocational Training Center (7 workshops, 2 computer classes, 4 training classes).  The facility to be established will meet the basic needs of Adana’s industry and will carry out its activities in accordance with the priorities of Adana’s industry.  Planning for the facility to be established in the most accurate way and conducting the necessary feasibility studies in this sense is of paramount importance in terms of the facility's sustainability and its contribution to Adana’s industry and the regional economy.  Proceeding from this, there is a need to conduct a definitive study on how to serve in the most effective way by defining the architectural structure of the service buildings to be located in the industrial campus, selecting materials and equipment, business model, qualifications of the people to be employed, determining the services to be rendered, and pricing the services involved.  .  There is also a need for a feasibility study when considering the design of the facility concerned with an integrated approach to meeting production and service purposes and, in this sense, creating a sustainable structure.
                </p>


            </div>
        </div>
    </div>
</div>