
@{
    Layout = null;
}

<div class="row">
    <div class="container">


        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>

                <hr />

                <h4>‘’MAHIR ELLER’’  PROJECT (1.12.2017 - 1.12.2019)</h4>

                <p><strong>Project Period:</strong> 2017- 2019</p>

                <p><strong>Project Budget:</strong> 15 Million Euros (100% EU-MADAD funding.)</p>

                <p><strong>Project Partners:</strong> Union of Chambers and Commodity Exchanges of Turkey (TOBB), Economic Policy Research Foundation of Turkey (TEPAV), Adana Chamber of Industry</p>

                <p>
                    <strong>Project Summary:</strong> With the Turkish Economy "Mahir Eller Project", which was brought to life under the parentage of the Union of Chambers and Commodity Exchanges (TOBB) and with the financing of the European Union, it is aimed to document the skills of 30 thousand people throughout Turkey, to document the competency of 20 thousand people, to train 3 thousand people and to bring them to the country field.
                    Within the scope of the project, primarily Adana, Gaziantep, Hatay, Istanbul, Izmir, Kayseri, Kilis, Konya, Mardin, Mersin, and Şanlıurfa, where security measures are most intense, were focused on. Project activities in Adana are carried out by the local project in the Adana Chamber of Industry.
                </p>

            </div>
        </div>
    </div>
</div>