@using Helper
@using WebApplication1.Models
@using WebUI.Models
@using WebUI.Models.Api

@model PageItem

	<div class="list-group">
	@foreach (var duyurular in Model.UstDuyurular.Data)
		{
			<a href="/Haberler/@Helper.UrlHelper_.SeoAdress(@duyurular.Baslik)/@duyurular.ID" class="list-group-item_spec1   list-group-item-action duyuruTab">			
				<div class="d-flex w-100 align-items-stretch">
					<h6> @StringHelper.FirstCharToUpper(duyurular.Baslik.Substring(0, Math.Min(duyurular.Baslik.Length, 70))).Trim()...</h6>
				</div>
			</a>
		}
	</div>