
@{
    Layout = null;
}
<div class="row">
    <div class="container">


        <div class="col-lg-12 p-0 m-0">

            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h2 class="text-dark text mb-5 mt-2">CAPACITY REPORT</h2>

                <hr style=" background-color:black; height:0.5px; " />

                <p>
                    List of Documents Required for Petition and Capacity Report
                </p>

                <ul>
                    Required documents:
                </ul>
                <p>
                    <a href="#">
                        *Click for List of Documents Required for Capacity Report
                    </a>
                </p>

                <p>
                    <a href="#" ">
                        *Click on machine invoices or fixture records
                    </a>
                </p>

                <p>
                    <a href="#" ">
                        *For Members, click on the Capacity Report Front Page Information Form
                    </a>
                </p>

                <p>
                    <a href="#">
                        *Click for Capacity Report Application Petition
                    </a>
                </p>



                <h4>

                    Capacity Report

                </h4>
                <ul>
                    <li>The obligation of Capacity Report</li>
                    <li>Where the Capacity Report is Used</li>
                    <li>Capacity Report Validity Period</li>
                    <li>Capacity Report Renewal and Industrial Registration Certificate Transactions</li>
                    <li>Capacity Report Fees</li>
                    <li>Matters to be Considered While Preparing Capacity Report Application Forms</li>
                    <li>Preparation Time of Capacity Report</li>
                    <li>Certified Copy of Capacity Report (Original Copy)</li>
                    <li>Frequently Asked Questions About the Capacity Report</li>
                </ul>



                <p>
                    LEGISLATION MADE MANDATORY OF CAPACITY REPORT
                </p>

                <ul>
                    <li>Industry Registry Law No. 6948,</li>
                    <li>T.O.B.B Law No. 5174,</li>

                    <li>T.O.B.B. Code of Conduct</li>
                    <li>Import and export Regulations</li>
                    <li>Communiqués on Incentive for Investments, Decree and Regulations on the Production, Consumption, and Inspection of Foods No. 560.</li>


                </ul>



                <p>
                    WHERE THE CAPACITY REPORT IS USED
                </p>
                <p>
                    Capacity Reports;
                </p>


                <ul>
                    <li>Investment Incentive Certificate,</li>
                    <li>Inward Processing Permit Certificate,</li>
                    <li>In the applications for the Provisional Acceptance Permit and in the closing of the commitments within the scope of these documents,</li>
                    <li>In the applications for the Industrial Registry Certificate, which is a legal obligation and required for the use of electricity from the discounted tariff,</li>
                    <li>Various Import and Export transactions,</li>
                    <li>In official and private tenders,</li>
                    <li>In domestic and international loan procurement,</li>
                    <li>Participating in domestic and international fairs,</li>
                    <li>In the supply of allocated or imported raw materials with tariff quota applied,</li>
                    <li>In obtaining the manufacturer's certificate,</li>
                    <li>In tax inspections,</li>
                    <li>In public reviews for various purposes</li>
                </ul>
                <p>It is necessary and also sheds light on the country's industrial inventory studies and mobilization plans and programs.</p>


                <p>
                    REPORT VALIDITY PERIOD
                </p>

                <p>

                    Capacity reports are valid for two years if no change is requested by the firm or no change is determined by the Chambers, from the date of issue. Taking into account the warnings made by the chambers, a renewal request should be made a few months before the validity period expires.

                </p>



                <p>
                    If the information in the capacity report changes, it is very important to renew the report in order to avoid problems during bureaucratic procedures.
                </p>



                <p>
                    If the machines in the report are rented (including leasing) and the lease term is less than 2 years, the expiry date of the contract determines the validity period of the report.
                </p>


                <p>
                    If the duration of the Machinery Rental Agreement is less than 1 year on the date of application for the capacity report, a capacity report is not issued for these machines.
                </p>








                <p>
                    <h4>    CAPACITY REPORT RENEWAL-INDUSTRIAL REGISTRATION CERTIFICATE PROCEDURES</h4>
                </p>

                <p>
                    In accordance with the TOBB Law No. 5174 and the Decree of the Council of Ministers dated 16.06.1975 and numbered 7/9914, industrial enterprises located within the working areas of the Chambers are obliged to issue a capacity report and renew their expired capacity reports.
                </p>


                <p>
                    In addition, according to the 41st article of the TOBB Transactions
                    Regulation; In provinces where the Chamber of Industry and the Chamber
                    of Commerce are located separately, companies registered in both Chambers
                    must obtain their capacity reports from the Chambers of Industry.
                </p>


                <p>
                    For this purpose, it is very important to apply to our Chambe
                    r at least one week in advance to renew the validity period
                    of your capacity report, which is important in your industrial
                    and commercial activities, and possible grievances can be prevented.
                </p>

                <p>
                    Our members with a valid Capacity Report can switch to
                    industrial subscription by submitting the Industry
                    Registry Certificate they will receive from the
                    Provincial Directorate of Industry and Trade to
                    TEDAŞ, and they can have the right to use electricity
                    at a rate of 13-27% cheaper than other subscribers.
                </p>


                <p>
                    In addition, as a result of the changes made
                    in Article 9 of the 6948 Industry Registry
                    Law; Since an administrative fine of approximately
                    2356 TL will be applied to businesses that do not
                    register their businesses with the industrial registry
                    or do not submit their annual business chart to the
                    Provincial Directorate of Industry and Commerce until
                    the end of April every year; Our members will prevent
                    grievances if they fill out the annual operating schedule,
                    which includes the data for 2021, at www.sanayi.gov.tr ​​and
                    submits it to the Provincial Directorate.

                </p>


                <p>
                    <h4>
                        CAPACITY REPORT APPLICATION AND FEES
                    </h4>
                </p>


                <p>It is obligatory to be a member of the Adana Chamber of Industry in order to apply for a capacity report.</p>


                <p>
                    <span>  Click</span> for membership procedures
                </p>

                <p>
                    Capacity Report applications of our members who do not
                    notify our Chamber's Industrial Services Unit of their workplace address changes will not be accepted.
                </p>


                <p>
                    The above price, which is valid as of 01.01.2022, does not include the TOBB approval fee of 700 TL and the expert travel fee.
                </p>

                <p>
                    The round-trip travel fees of the expert
                    committee to the workplace are covered by
                    the company according to the 2022 expert
                    road fee schedule. The company has the right
                    to bring the adjusters to the manufacturing
                    address with their own vehicle if they wish.
                    Detailed information can be obtained from
                    ADASO Industrial Services Unit 0(322) 436 63 63 (112).
                </p>


                <p>
                    <h4>
                        PREPARATION TIME OF THE CAPACITY REPORT
                    </h4>
                </p>

                <p>
                    After the firm has filled in the capacity request forms and applied, the appraisal committee assigned by the Industrial Services Unit conducts an inspection at the firm's workplace as soon as possible.
                </p>
                <p>
                    The reports prepared by evaluating the information and documents are sent to TOBB online for approval.
                </p>

                <p>
                    T.O.B.B. SUBMISSION OF CERTIFIED COPY FROM THE APPROVED CAPACITY REPORT
                </p>

                <p>
                    The capacity report prepared by the Adana Chamber of Industry is sent to the T.O.B.B. for approval after an agreement is reached with the company. The report returning from the approval is kept in Adana Chamber of Industry and when companies want to submit a capacity report to the relevant authorities, they can get a certified copy of this report.
                </p>

                <p>
                    Certification Price (changes in January of each year): 30 TL per page
                </p>

                <p>In order to get a copy of the approved report, the company applies to the letterhead with the petition below stating how many of the approved capacity reports are requested.</p>



                <p>
                    <strong>
                        petition sample
                    </strong>
                </p>


                <p>Adana Chamber of Industry</p>

                <p>to the General Secretariat</p>



                <p>We request.......... Copies of the T.O.B.B Certified capacity ……………. report issues on............. to be submitted. Company Trade Registry No.</p>
                <p>
                    Company Stamp and
                    Authorized Signature
                </p>

                <p>

                    FREQUENTLY ASKED QUESTIONS


                </p>
                <ul>
                    <li>
                        <h5>
                            <strong>  How many workers must the firm employ in order to receive a capacity report?</strong>
                        </h5>
                        Firms that have their headquarters
                        in Adana and use driving force and
                        have at least 10 workers working in
                        production (excluding partners) can
                        obtain a capacity report. Before the
                        entry into force of the TOBB Law No.
                        5174, the registration of industrial
                        establishments with less than 10 workers
                        in our Chamber will continue and the
                        Capacity reports of these establishments
                        will be prepared by our Chamber.

                    </li>

                    <li>
                        <h5>
                            <strong>  What should be done when the workplace address changes?</strong>
                        </h5>
                        When the workplace address is changed, the Capacity Report is canceled and the new address
                        must be notified to the Adana Chamber of Industry Member Relations and Industrial Services Unit.

                    </li>

                    <li>
                        <h5>
                            <strong>  What cancels the capacity report?</strong>
                        </h5>
                        If some or all of the machines whose capacity
                        is calculated in the capacity report are sold or leased to another company,
                        if the workplace address has changed,
                        if the workplace is closed, the capacity report is canceled.

                    </li>

                    <li>
                        <h5>
                            <strong>
                                What should be done to add a new product,
                                raw material or a new machine to the capacity report that has not expired yet?
                            </strong>
                        </h5>
                        The capacity report will be renewed.

                    </li>

                    <li>
                        <h5>
                            <strong>  Where can I get the information that the capacity report is ready?</strong>
                        </h5>
                        Tel: Call (322) 4366363 (112).
                    </li>
                </ul>
                <br />

                <p>
                    <strong>
                        Zahide TOPRAK<br />
                    </strong>

                    <strong>
                        Industrial Services Personnel
                    </strong>
                </p>

                ADANA CHAMBER OF INDUSTRY <br />
                Phone : (0 322) 436 63 63 - 112 <br />
                Fax : (0 322) 436 16 36 <br />
                E-Mail : kobi@adaso.org.tr <br />
                Web :<a href="https://www.adaso.org.tr/"> www.adaso.org.tr  </a><br />
                Turhan Cemal Beriker Blv. No: 156 Seyhan - Adana / TURKEY <br />



            </div>
        </div>
    </div>
</div>

