
@{
    Layout = null;
}


<div class="row">
    <div class="container">


        <div class="col-lg-12 p-0 m-0">

            <div class="jumbotron-fluid ts-grid-box mb-3">



                <h2 class="text-dark text mb-5 mt-2">OUR MISSION</h2>

                <hr style=" background-color:black; height:0.5px; " />



                <p>

                    To protect the rights and interests of our industrialists,
                    to meet their expectations and needs, to create value for
                    our members with the philosophy of sustainable and continuous
                    development, to contribute to the development of the industry
                    of the region and the country and to increase the level of
                    welfare with our employees and stakeholders, with the duties
                    and authorities determined by the TOBB Law No. 5174 and related
                    legislation.
                </p>





            </div>
        </div>
    </div>
</div>