
@{
    Layout = null;
}


<div class="row">
    <div class="container">


        <div class="col-lg-12 p-0 m-0">

            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h2 class="text-dark text mb-5 mt-2">OUR VISION</h2>

                <hr style=" background-color:black; height:0.5px; " />

                <p>


                    To be a pioneering chamber that contributes to the continuous development of its members, guides its members in increasing their competitiveness,
                    develops strategies and policies by focusing on human resources,
                    exports and high-value-added product production in the name of
                    sustainable high growth in the industry, and aims excellence in its activities.
                </p>



            </div>
        </div>
    </div>
</div>