@{
    Layout = null;
}

@*<div class="jumbotron-fluid ts-grid-box">


    <div class="content-wrapper">
        <div class="clearfix"></div><hr>


        <p><img class="img-thumbnail" src="~/Content/images/Index/kalite1.png"></p>

        <p><img class="img-thumbnail" src="~/Content/images/Index/kalite2.png"></p>

        <p><img class="img-thumbnail" src="~/Content/images/Index/kalite3.png"></p>

        <p><img class="img-thumbnail" src="~/Content/images/Index/kalite4.png"></p>

        <p>&nbsp;</p>

    </div>

</div>
*@

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">


                <div class="jumbotron-fluid ts-grid-box">
                    <h4 class="display-4">QUALITY AND ACCREDITED DOCUMENT</h4>
                    <div class="content-wrapper">
                        <hr>


                        <p><img class="img-thumbnail" src="~/Content/images/Index/kalite1.png"></p>

                        <p><img class="img-thumbnail" src="~/Content/images/Index/kalite2.png"></p>

                        <p><img class="img-thumbnail" src="~/Content/images/Index/kalite3.png"></p>

                        <p><img class="img-thumbnail" src="~/Content/images/Index/kalite4.png"></p>


                    </div>
                </div>
            </div>
        </div>
    </div>

</section>