
@{
    Layout = null;
}

<div class="row">
    <div class="container">


        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>

                <hr />

                <h4> Addasso - ILO Project (21.06.2019 - 31.12.2019)</h4>

                <p><strong>Project period:</strong> June 21, 2019 - December 31, 2019 Ongoing</p>

                <p><strong>Project budget:</strong> (100% development/employment) 1.500.000,00 TL</p>

                <p><strong>Project partners:</strong> Adana Chamber of Industry, ILO</p>

                <p><strong>Project Summary:</strong> Within the scope of the project, it aims to assist in the employment of Turkish citizens and citizens under temporary protection.  After opening the vocational training courses under 8 titles, advisory services are provided to employers who want to employ foreign nationals in work permit applications with VQA certification and corporate applications (in case the new employment of foreign nationals).  In addition to company-trainee matching, 8 corporate capacity building training courses are offered.  All project participants are registered in the İŞKUR system.</p>

            </div>
            </div>
        </div>
    </div>
