
@{
    Layout = null;
}


<div class="row">
    <div class="container">
        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>
                <hr />
                <b>
                    <h5>
                        CURRENT STATUS ANALYSIS OF ADANA INDUSTRY, DETECTION OF PROBLEMS AND DEVELOPMENT AREAS" (30.05.2016 - 30.08.2019)
                    </h5>
                </b>
                <p>
                    <b>Project Summary:</b> THuman Resources, Informatics, Financial Structure, Marketing, Sales, Production Status, current R&D potential, Business Development, Planning, Cost Management, Use of State Supports, with the method of field research about 500 industrial companies registered to Adana Chamber of Industry, Detailed data were compiled in areas such as production technologies, etc., detailed reports were prepared on sectoral and company basis regarding the collected data, the prepared reports were shared with the companies, information was given about the areas that needed improvement, and the resources in the Chamber and Region were directed to the solution of the problems related to the problematic areas. Solution suggestions for the problems in front of the development of the companies, road map and analysis report were created with the collected information. As a result of the findings, it has contributed to the making of measures and strategic planning that will increase the competitiveness of around 500 companies on a Regional, National and International scale. It was ensured that the information compiled after the study was kept in the database to be created on a company basis, that various information was updated over time, that the developments and problem areas of the companies were followed more closely, so that the resources of the Chamber and Region were used more accurately.


                </p>

                <p>

                    <b>Project Period : </b> 30 May 2016-30 August 2019 Completed
                    <br />
                    <b> Project Budget:</b>( 100% CAPACITY DEVELOPMENT / ANALYSIS ) 90.000 TL
                    <br />
                    <b>Project Partners : </b>ADANA CHAMBER OF INDUSTRY, Çukurova Development Agency
                </p>

            </div>
        </div>
    </div>
</div>
