
@{
    Layout = null;
}

<div class="row">
    <div class="container">


        <div class="col-lg-12">
            <div class="jumbotron-fluid ts-grid-box mb-3">

                <h4>
                    PROJECTS
                </h4>

                <hr />

                <h4>ADASO-GIZ Project (21.07.2019 - 21.07.2020)</h4>

                <p><strong>Project Duration:</strong> July 21, 2019 - July 21, 2020 Ongoing.</p>

                <p><strong>Project budget:</strong> (100% development/employment) 4.150.000,00 TL</p>

                <p><strong>Project partners:</strong> Adana Chamber of Industry, GIZ</p>

                <p><strong>Project summary:</strong> The main objective of the project is to contribute to long-term formal employment.  During the project, studies are conducted to determine the supply and requirements for the labor market in Adana and to ensure that the right person is assigned to the right job.  The objectives of the project are to increase the possibility of registered and long-term employment, encourage dialogue between civil society and the public and private sectors with the online portal system, facilitate existing support mechanisms for refugees, and contribute to reducing costs to the employer.  Within this project, the employment contract for our industrial companies is signed by and 50% of the employer's costs are covered for a period of 6 months for 250 people consisting of Turkish citizens and foreign nationals.  More than 250 people will be guided around the Certificate of Professional Competence.  Work permits will be obtained for 165 foreign employees.  Job seekers who are contacted within the scope of the project are directed to the İŞKUR database for registration.</p>
            </div>
        </div>
    </div>
</div>